<div id="search" class="col-user-item search">
    <div class="input-curier"><input type="text" autocomplete="off"  name="search" value="<?php echo $search; ?>" placeholder="<?php echo $text_search; ?>" class="search-input" /><button class="search-btn3 icon-search"></button></div>
  <button type="button" class="search-btn"><i class="icon-search"></i></button>
</div>
