<div class="currier-collection-slider">
  <div class="collection-name"><span><?php echo $banner_title; ?></span></div>
    <div id="banner<?php echo $module; ?>" class="js-newcollection-slider newcollection-slider">
    <?php foreach ($banners as $banner) { ?>
    <div class="item">
      <?php if ($banner['link']) { ?>
      <a href="<?php echo $banner['link']; ?>">
        <div class="img-curier">
        <img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" class="img-responsive  img-1" />
        <img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>"  class="img-2" />
        </div>
      </a>
      <?php } else { ?>
          <div class="img-curier">
      <img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>" class="img-responsive img-1" />
       <img src="<?php echo $banner['image']; ?>" alt="<?php echo $banner['title']; ?>"  class="img-2" />
            </div>
      <?php } ?>
    </div>
    <?php } ?>
  </div>
</div>
