<h5><?php echo $heading_title; ?></h5>
<div class="subscribe_form">
<div class="row">
	
	<form action="" method="post">
		<div class="form-group required">
            <label class="col-sm-2 control-label" for="input-firstname">Email:</label>
            <div class="col-sm-10">
              <input type="email" name="txtemail" id="txtemail" value="" placeholder="" class="form-control input-lg"  /> 
    	       
            </div>
		</div>
		<div class="form-group required">
            <label class="col-sm-2 control-label" for="input-firstname"><?php echo $text_email; ?></label>
            <div class="col-sm-10">
              <button type="submit" class="btn btn-default btn-lg" onclick="return subscribe();"><?php echo $text_subscribe; ?><i></i></button>
    	       
            </div>
		</div>
		</form>
</div>
</div>


