@media (min-width: 1200px) {
    .btn-close-head-menu, .menu-toggle, .list-inline > li.hidden-desctop {
        display: none !important
    }

    #search .input-curier.open {
        width: 840px
    }

    #menu .dropdown:hover .dropdown-menu {
        display: block
    }

    #menu .nav > li > a:before {
        bottom: 0;
        content: '';
        height: 1px;
        left: 0;
        position: absolute;
        right: 0;
        transition: width .25s ease-in-out;
        width: 0
    }

    #menu .nav > li.dropdown:hover > a:before, #menu .nav > li.open > a:before {
        width: 30px;
        margin: 0 auto;
        left: 0;
        right: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-bottom: 13px solid #fff
    }
}

@media (max-width: 1199px) {
    .col-logo {
        width: 180px;
        padding: 13px 15px 0 15px
    }

    .affix .col-logo {
        padding: 5px 15px
    }

    #logo {
        padding: 0
    }

    .container-top .breadcrumb {
        width: 100%
    }

    .col-user-item.welcom > button span, .col-user-item.welcom > button span {
        display: none
    }

    .col-user-item.cart {
        padding: 18px 15px 18px 20px;
        width: 200px
    }

    .affix .col-user-item.cart {
        padding: 10px 15px
    }

    .gallery-slider-curier .block-title {
        margin: 40px 0 20px 0;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px
    }

    .block-title-2 a {
        padding: 5px 30px
    }

    .hidden-mob {
        display: none
    }

    #top .btn-group {
        padding: 0 10px 0 10px !important;
        min-width: 65px
    }

    #top .curier-contact-top .btn-group .btn {
        padding-left: 5px
    }

    #top .btn-link.dropdown-toggle {
        padding: 0
    }

    .col-language {
        padding: 0
    }

    .col-currencies {
        padding: 0
    }

    .row-user > li {
        vertical-align: top;
        padding: 0 15px 0 10px
    }

    .row-user > li.col-wishlist {
        padding: 15px 10px 0 10px
    }

    .affix .row-user > li.col-wishlist {
        padding: 10px 10px 0 10px
    }

    .row-user > li.col-welcom {
        padding: 15px 15px 0 10px
    }

    .affix .row-user > li.col-welcom {
        padding: 5px 10px 0 10px
    }

    #search {
        padding: 28px 15px 0 15px
    }

    .col-user-item > button, .col-user-item > a {
        font-size: 22px;
        padding: 0 1px;
        text-align: center
    }

    .col-user-item.welcom i {
        padding: 0
    }

    .curier-lng-currency .btn-link span {
        padding: 15px 6px 0 0
    }

    .col-menu {
        padding: 25px 0 0 15px;
        width: 530px
    }

    .col-menu .navbar-header {
        float: right
    }

    .header-curier.affix .col-menu {
        padding: 10px 0 0 15px
    }

    .menu-container {
        position: fixed;
        z-index: 9999;
        top: 0;
        left: -100%;
        background: rgba(170, 192, 120, 1);
        height: 100%;
        width: 100%;
        transition: all .3s ease-in-out;
        text-align: center;
        overflow: auto
    }

    .menu-open .menu-container {
        left: 0
    }

    .menu-toggle {
        background: 0;
        border: 0;
        height: 27px;
        position: relative;
        transition: all .5s cubic-bezier(.19, 1, .22, 1);
        font-size: 16px;
        font-weight: 700;
        line-height: 30px;
        text-transform: uppercase;
        color: #fff;
        width: 85px;
        padding: 0
    }

    .menu-toggle .icon-bar, .menu-toggle .icon-bar:after, .menu-toggle .icon-bar:before {
        position: absolute;
        content: "";
        display: block;
        height: 3px;
        width: 24px;
        transition: all .5s cubic-bezier(.19, 1, .22, 1);
        background: #b1c07b;
        border-radius: 0
    }

    .menu-toggle .icon-bar {
        top: 10px;
        right: 8px
    }

    .menu-open .menu-toggle .icon-bar {
        background: #3a3a3a
    }

    .menu-toggle .icon-bar:before {
        top: -8px
    }

    .menu-open .menu-toggle span.icon-bar:before {
        -webkit-transform-origin: 0 50%;
        background: #000;
        -ms-transform-origin: 0 50%;
        transform-origin: 0 50%;
        -webkit-transition: -webkit-transform .3s;
        transition: transform .3s;
        -webkit-transform: rotate(45deg) translateX(4px) translateY(-5px);
        -ms-transform: rotate(45deg) translateX(4px) translateY(-5px);
        transform: rotate(45deg) translateX(4px) translateY(-5px)
    }

    .menu-toggle .icon-bar:after {
        top: 8px
    }

    .menu-open .menu-toggle span.icon-bar:after {
        top: 7px;
        -webkit-transform-origin: 0 50%;
        -ms-transform-origin: 0 50%;
        transform-origin: 0 50%;
        background: #000;
        -webkit-transition: -webkit-transform .3s;
        transition: transform .3s;
        -webkit-transform: rotate(-45deg) translateX(3px) translateY(6px);
        -ms-transform: rotate(-45deg) translateX(3px) translateY(6px);
        transform: rotate(-45deg) translateX(3px) translateY(6px)
    }

    .col-menu .menu-toggle .icon-bar {
        top: 13px;
        right: inherit;
        left: 0
    }

    .menu-open .navbar-header .menu-toggle .icon-bar {
        opacity: 0
    }

    .col-menu .menu-toggle .text-bar {
        float: right;
        padding-left: 16px
    }

    .menu-popup-header {
        width: 100%;
        float: left;
        height: 50px;
        background: #3a3a3a;
        z-index: 999
    }

    .menu-popup-header .menu-toggle {
        float: right;
        margin: 10px 0 0 0;
        width: 50px
    }

    .menu-open .menu-popup-header .menu-toggle span.icon-bar:after, .menu-popup-header .menu-toggle span.icon-bar:after, .menu-open .menu-popup-header .menu-toggle span.icon-bar:before, .menu-popup-header .menu-toggle span.icon-bar:before {
        background: #fff
    }

    #menu .menu-container .nav.navbar-nav {
        width: 100%;
        float: none;
        max-width: 300px;
        margin: 0 auto;
        padding: 30px 0 0 0;
        clear: both
    }

    #menu .menu-container .nav.navbar-nav > li {
        width: 100%;
        float: left;
        text-align: center;
        border-top: 1px solid rgba(255, 255, 255, .3);
        padding: 0
    }

    #menu .menu-container .nav.navbar-nav > li > a {
        font-size: 18px;
        padding: 10px 0 10px 0;
        position: relative;
        color: #fff
    }

    #menu .menu-container .nav.navbar-nav > li.open > a {
        color: rgba(255, 255, 255, .8)
    }

    #menu .menu-container .nav.navbar-nav li a:hover {
        opacity: .85;
        color: #fff
    }

    #menu .menu-container .nav.navbar-nav > li > a span {
        padding: 0 15px
    }

    #menu .menu-container .nav.navbar-nav > li > a i {
        position: absolute
    }

    #menu .menu-container li.dropdown.open .fa-caret-down {
        -moz-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
        -o-transform: rotate(-180deg);
        -webkit-transform: rotate(-180deg)
    }

    #menu .menu-container .navbar-nav .dropdown-menu {
        position: relative;
        width: 100%;
        border: 0;
        background: 0;
        box-shadow: none;
        padding: 0 0 15px 0;
        margin: 0 auto
    }

    #menu .menu-container .nav.navbar-nav li .dropdown-menu li {
        background: 0;
        text-align: center;
        display: block;
        width: 100%;
        padding: 0
    }

    #menu .menu-container .nav.navbar-nav li .dropdown-menu li > a {
        font-size: 16px;
        padding: 5px;
        text-transform: lowercase;
        display: block;
        background: 0;
        color: #fff
    }

    #menu .menu-category .name {
        color: #3a3a3a;
        line-height: 16px;
        padding: 5px;
        min-height: inherit;
        text-transform: uppercase
    }

    #menu .menu-category .image {
        display: none
    }

    #menu .dropdown-inner .childe-menu {
        padding: 5px 0;
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.2)
    }

    .menu-container .col-user-item {
        position: static;
        color: #fff;
        padding: 15px;
        width: 30px;
        height: 30px;
        float: left;
        w
    }

    .menu-container .col-user-item > button, .col-user-item > a {
        color: #fff;
        display: block;
        width: 30px;
        height: 30px
    }

    .menu-container .col-user-item > button i, .col-user-item > a i {
        color: #fff
    }

    .menu-container .curier-lng-currency {
        padding: 15px;
        width: 200px
    }

    .menu-container .curier-lng-currency > div {
        float: left;
        width: 50%;
        padding: 0 5px;
        text-align: left
    }

    .menu-container .curier-lng-currency form {
        float: left;
        width: 100%;
        position: relative
    }

    .menu-container .curier-lng-currency form div {
        float: left;
        width: 100%
    }

    .menu-container .curier-lng-currency button.dropdown-toggle {
        width: 100%;
        padding: 5px
    }

    .menu-container .curier-lng-currency .open button.dropdown-toggle {
        background: #fff
    }

    .menu-container .curier-lng-currency button span {
        padding: 0;
        float: left;
        font-size: 20px
    }

    .menu-container .curier-lng-currency button i {
        font-size: 7px;
        line-height: 30px;
        margin: 0;
        padding-left: 10px;
        text-decoration: none
    }

    .menu-container .curier-lng-currency .open .btn-link .icon-arrow-dawn {
        text-decoration: none
    }

    .menu-container .btn-link:focus, .btn-link:hover {
        text-decoration: none
    }

    .menu-container .curier-lng-currency button span, .menu-container .curier-lng-currency .btn-link {
        text-align: left
    }

    .affix .menu-container .curier-lng-currency .btn-link span {
        padding: 0
    }

    .menu-container .curier-lng-currency .open button span, .menu-container .curier-lng-currency .open .btn-link {
        color: #3a3a3a
    }

    .menu-container .curier-lng-currency .dropdown-menu {
        float: left;
        width: 100%;
        font-size: 15px;
        color: #3a3a3a;
        margin: 0;
        text-align: left;
        padding: 5px
    }

    .menu-container .curier-lng-currency .dropdown-menu a, .menu-container .curier-lng-currency .dropdown-menu button {
        padding: 1px 0;
        text-align: left;
        font-size: 15px;
        color: #3a3a3a
    }

    .arrow-prev {
        left: 0
    }

    .arrow-next {
        right: 0
    }

    .col-home-category-image {
        min-height: 160px;
        float: left;
        width: 100%
    }

    .col-home-category-image img {
        display: none
    }

    .col-home-category-image .name {
        bottom: 30px;
        left: 30px;
        font-size: 30px;
        font-weight: 700;
        line-height: 40px;
        max-width: 500px
    }

    .col-home-category-image > a {
        bottom: 30px;
        right: 30px;
        left: inherit
    }

    .col-home-category-left .col-home-category-slider {
        width: 100%
    }

    .col-home-category-right .col-home-category-slider {
        width: 100%;
        border-right: 1px solid #ebebeb
    }

    .col-home-category.col-home-category-right {
        display: flex;
        flex-flow: wrap
    }

    .col-home-category.col-home-category-right .col-home-category-slider {
        order: 1
    }

    .col-home-category.col-home-category-right .col-home-category-image {
        order: 0
    }

    .gallery-slider-curier {
        padding: 0 0 30px 0
    }

    .gallery-slider .slick-dots {
        margin: 0 auto;
        width: 100%
    }

    .curier-h1-sort h1 {
        padding-right: 0
    }

    .row-sort {
        min-width: 100%;
        position: inherit;
        float: left;
        width: 100%;
        padding: 0 15px 15px 15px
    }

    .product-layout.col-lg-4.col-md-4 {
        width: 50%
    }

    .product-layout .product-thumb .button-group {
        right: 0 !important
    }

    #column-left {
        padding: 0 10px
    }

    #mfilter-opts-price-min, #mfilter-opts-price-max {
        width: 50px;
        min-width: 50px;
        max-width: 50px;
        padding: 5px 3px
    }

    .mfilter-price-inputs > span {
        padding: 0 5px;
        color: #838383
    }

    .catalog-header-line::after {
        display: none
    }

    .col-product-right {
        padding-right: 0
    }

    .list-specification li span:first-child {
        width: 25%
    }

    .col-product-right .options .control-label {
        width: 25%
    }

    .col-qty label {
        width: 25%
    }

    .label-text {
        width: 25%
    }

    .col-stock {
        padding: 10px 5px
    }

    .col-price-value {
        font-size: 26px;
        width: 75%
    }

    .price-old {
        font-size: 16px
    }

    .col-product-bt {
        padding: 0 30px 0 0 !important;
        margin-bottom: 20px;
        width: 260px !important
    }

    .btn-to-cart i + span, .btn-to-cart i {
        float: none;
        display: inline-block
    }

    .col-product-bt button.btn-to-wishlist {
        text-align: center
    }

    .review-slider .slick-list {
        width: 100%
    }

    .modal-dialog {
        margin: 40px auto
    }

    .modal-quick-login-register .modal-sm {
        width: 750px
    }

    .modal-quick-login-register .modal-body {
        padding: 20px 15px;
        width: 100%
    }

    .form-login {
        width: 40%;
        padding: 0 15px
    }

    .form-register {
        width: 60%;
        padding: 0 15px
    }

    .curier-social-login {
        font-size: 16px
    }

    .modal-buy-one-click .col-image {
        display: none
    }

    .modal-buy-one-click .col-price {
        padding: 15px 0 0 0;
        text-align: center
    }

    .modal-buy-one-click .col-payment-quantity {
        text-align: center
    }

    .modal-buy-one-click label {
        width: 100%;
        padding: 0 0 15px 0;
        text-align: center
    }

    .modal-buy-one-click .qty-input {
        float: none;
        margin: 0 auto
    }

    .simplecheckout-button-right {
        float: left;
        text-align: left
    }

    .continue_shopping {
        padding: 6px
    }

    .continue_shopping a, #simplecheckout_button_confirm {
        width: 200px
    }

    .col-footer-logo {
        width: 265px
    }

    .newsletter_form-input {
        width: 190px
    }

    .col-customer-nav {
        width: 235px;
        padding: 78px 0 0 42px
    }

    .col-product-nav {
        width: 235px;
        padding: 78px 15px 0 30px
    }

    .footer-price-download a i {
        font-size: 21px;
        font-size: 21px;
        padding: 0 0 0 11px;
        line-height: 34px
    }

    .adress-item i {
        font-size: 16px
    }

    footer .footer-title2 {
        padding: 0
    }

    footer .footer-title {
        padding: 0 0 10px 0
    }

    footer h5 {
        margin: 11px 0
    }

    .col-contact-bottom {
        width: 100%;
        padding: 35px 0; /*! margin: 0 -15px; */
    }

    footer .col-contact-bottom .footer-title {
        padding: 0 15px 16px 0
    }

    .fotter-contact-item {
        float: left;
        width: 30%;
        padding: 0 15px 0 0
    }

    .fotter-contact-item.fotter-contact-item-phone {
        padding: 0 0 0 15px
    }

    .fotter-contact-item.fotter-contact-item-subscribe {
        width: 39%
    }

    .adress-item span {
        width: 230px
    }

    .phone-item span, .email-item span, .fotter-contact-item-adress .adress-item span {
        width: 170px
    }

    .col-social-contact-bottom a {
        margin-right: 8px
    }

    .col-social-contact-bottom a i {
        padding: 0
    }

    .col-contact-bottom .list-inline li {
        padding: 5px 20px 10px 0
    }

    .col-contact-bottom .list-inline li:last-child {
        padding: 5px 00px 10px 0
    }

    .col-social-contact-bottom a i {
        font-size: 16px
    }

    .col-subscribe {
        border-top: solid 1px #d1d1d1;
        border-bottom: solid 1px #d1d1d1;
        float: right;
        width: 100%;
        padding: 10px 0 24px 0;
        margin-top: 20px
    }

    .col-subscribe .newsletter_form-input {
        width: 70%
    }

    .col-subscribe .input-group-btn {
        width: 30%
    }

    .partner-curier {
        padding: 35px 0
    }

    .partner-curier > span {
        width: 100%;
        height: 30px;
        margin: 8px 0;
        float: left;
        display: block
    }

    footer .container.container-powered {
        margin: 0 auto
    }

    .pbListing-box .box-content .box-products {
        text-align: center
    }

    .PB_product {
        width: 100%
    }

    .PB_plusbutton {
        text-align: center;
        padding: 24px 3px 25px 4px;
        min-height: inherit
    }

    .pbListing-box .box-content .box-products .PB_bundle_info {
        padding: 35px 20px 0 20px;
        min-height: 195px;
        max-width: inherit;
        width: 100%
    }

    .pb_name {
        width: 50%
    }

    .PB_image {
        width: 50%
    }

    .col-contact-right {
        padding: 40px 15px 0 15px;
        float: left;
        width: 100%
    }

    .col-contact-left {
        padding-top: 15px;
        float: left;
        width: 100%
    }

    .col-contact-list.list-inline {
        margin: 0
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .col-contact-list li {
        padding: 0 0 30px 30px
    }

    .col-contact-list li i {
        left: 5px
    }
}

@media (max-width: 1199px) and (min-width: 768px) {
    #top .container, header .container {
        width: 767px
    }

    .container {
        width: 767px
    }

    .curier-instagram-home .container, #contents.container {
        padding: 0 20px
    }

    .col-contact-list li {
        width: 100%
    }
}

@media (max-width: 1024px) {
    .simplecheckout-step {
        display: flex !important;
        flex-direction: column-reverse
    }
}

@media (max-width: 991px) {
    .text_name {
        display: none
    }

    .curier-contact-top li {
        padding: 0 15px 0 0
    }

    .modal-buy-one-click .text_name {
        padding-bottom: 15px
    }

    .qty-input {
        max-width: 180px
    }
}

@media (min-width: 768px) {
    .mfilter-box h3 .icon-triangle_4 {
        display: none
    }
}

@media (max-width: 767px) {
    body {
        overflow-x: hidden
    }

    .product-box .block-title-2 {
        font-size: 22px
    }

    .block-title {
        font-size: 18px;
        line-height: 45px;
        margin: 20px 0 20px 0;
    }
    .block-title a {
        height: 45px;
        width: 45px;
    }
    .block-title a span{
        display: none;
    }

    h1 {
        font-size: 22px
    }

    .header-curier {
        opacity: .2
    }

    #top .container, header .container {
        width: 100%
    }

    .container {
        width: 100%
    }

    #top {
        min-height: 40px
    }

    #top .btn-group > .btn + .dropdown-toggle, #top .btn > .icon-arrow-dawn {
        display: none
    }

    #top .btn-link, #top-links li, #top-links a {
        height: 40px;
        padding: 8px 0 0 15px;
        font-size: 14px
    }

    .curier-contact-top i {
        padding-right: 10px
    }

    .col-menu {
        width: 100px;
        float: right;
        padding: 10px 0 0 15px
    }

    #search, .affix #search {
        width: 75px;
        padding: 13px 15px 0 28px
    }

    .input-curier {
        right: 15px;
        top: 3px
    }

    .curier-contact-top li {
        padding: 0 20px 0 0
    }

    .row-user > li.col-wishlist {
        display: none
    }

    .row-user > li.col-welcom {
        display: none
    }

    #cart.cart-full > .btn-cart i, #cart.cart-full > .btn-cart i::before {
        color: #fff
    }

    .col-user-item.cart, .affix .col-user-item.cart {
        width: 70px;
        padding: 10px 0 0 0;
        background: 0;
        height: 40px
    }

    .btn-cart .text-cart {
        display: none
    }

    #cart > .btn-cart i {
        padding: 0 10px 0 0
    }

    #cart table {
        width: 100%
    }

    #cart table tr td:first-child {
        display: none
    }

    #cart table tr td.text-left {
        width: 50%
    }

    #cart table tr td.text-right {
        display: none
    }

    #cart .cart-link-li {
        float: left;
        t: left;
        width: 100%
    }

    #cart .text-right {
        float: left;
        text-align: left
    }

    header {
        height: 50px
    }

    .col-logo {
        width: 120px;
        padding: 5px 15px 0 15px
    }

    .affix #logo {
        width: auto
    }

    .col-product-right {
        padding: 0 15px
    }

    .col-review-description {
        float: left;
        width: 100%
    }

    .modal-header h3 {
        font-size: 22px
    }

    .modal-body {
        position: relative;
        padding: 20px 15px 15px 15px
    }

    .modal-footer button, .modal-footer a {
        margin-bottom: 22px
    }

    .modal-quick-login-register .modal-sm, .size-table-modal .modal-sm {
        width: 90%
    }

    .table-size {
        max-width: 90%;
        width: 90%
    }

    .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
        padding: 14px 5px
    }

    .form-login {
        width: 100%
    }

    .form-register {
        width: 100%;
        border: 0
    }

    .container-top, .breadcrumb {
        display: none
    }

    .slider-down-bt-curier {
        display: none;
    }
    #content {
        float: right;
        width: 100%;
        clear: both
    }

    .col-xs-12.item-catalog {
        width: 50%
    }

    .category-thumb .caption {
        display: none
    }

    #column-left {
        display: block
    }

    .box-content.mfilter-content {
        display: none
    }

    .mfilter-box h3 {
        cursor: pointer;
        display: block;
        height: 58px;
        border: solid 1px #d1d1d1;
        padding: 15px;
        margin-bottom: 22px
    }

    .mfilter-box h3 .icon-triangle_4 {
        float: right;
        font-size: 14px;
        padding: 8px 0;
        transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg)
    }

    .mfilter-box h3.open .icon-triangle_4 {
        transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg)
    }

    .send_review-modal .alert {
        margin: 15px 15px
    }

    .col-tabs .nav-tabs > li {
        width: 100%;
        border-bottom: 1px solid #fff
    }

    .col-tabs .nav-tabs.nav > li > a {
        padding: 10px;
        height: 40px;
        line-height: 20px
    }

    .col-tabs .nav-tabs > li.active > a::after, .nav-tabs > li.active > a:focus::after, .nav-tabs > li.active > a:hover::after {
        display: none
    }

    .col-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
        background: #aac078;
        color: #fff
    }

    .col-size-image {
        padding: 15px 15px
    }

    .tab-content-description {
        padding-bottom: 15px
    }

    .col-home-category-image .name {
        position: static;
        float: left;
        width: 100%;
        padding: 15px;
        line-height: 24px;
        text-align: center
    }

    .col-home-category-image > a {
        bottom: 15px;
        right: 0;
        left: 0;
        margin: 0 auto
    }

    .container-see-more {
        position: inherit
    }

    .container-home-gallery {
        position: relative
    }

    .gallery-slider-curier .block-title {
        margin: 30px 0 20px 0
    }

    .container-see-more a {
        top: 35px;
        width: 30px;
        text-align: center;
        padding: 0;
        display: block;
        height: 30px;
        font-size: 21px
    }

    .container-see-more a span {
        display: none
    }

    .container-see-more a i {
        float: left;
        font-size: 14px;
        padding: 6px 0 0 12px
    }
/*search-page*/
    .search-page-fields{
        float: left;
        width: 100%;
    }
    .search-page-fields input{
        margin: 0!important;
    }
    footer {
        padding: 0
    }

    footer h5 {
        margin: 17px 0
    }

    footer .container {
        padding-top: 20px;
        width: 320px
    }

    .logo-footer {
        display: none
    }

    .logo-footer img {
        max-width: 120px;
        height: auto
    }

    .col-customer-nav {
        width: 100%;
        padding: 0 0 20px 0
    }

    .footer-price-download {
        padding: 10px 0 0 0
    }

    .col-product-nav {
        width: 100%;
        padding: 0 0 20px 0
    }

    .col-contact-bottom {
        width: 100%;
        padding: 0 0 40px 0
    }

    .col-contact-bottom i {
        padding: 0 15px 0 0;
        min-width: 20px;
        display: inline-block;
        text-align: left
    }

    .col-contact-bottom a {
        font-size: 17px
    }

    .col-social-contact-bottom {
        padding: 15px 0
    }

    .fotter-contact-item {
        width: 100% !important;
        padding: 0 !important
    }

    .partner-curier {
        padding: 30px 0 25px 0
    }

    .col-subscribe {
        margin-top: 18px
    }

    .col-subscribe .newsletter_form-input {
        width: 100%;
        padding-bottom: 22px
    }

    .col-subscribe .input-group-btn {
        width: 171px;
        float: right
    }

    .phone-item {
        padding-bottom: 20px
    }

    footer .container.container-powered {
        padding: 10px 0 10px 0
    }

    .col-powered, .col-created {
        width: 100%;
        text-align: center;
        padding: 5px 0
    }

    .col-powered, .col-created a {
        font-size: 11px;
        color: #FFF
    }

    .col-footer-logo {
        width: 100%
    }

    .col-not-found img {
        margin: 0 auto;
        max-width: 100%;
        height: auto;

    }
    .col-back-bt a {
        font-size: 14px;

    }

    .col-not-found .text {
        padding: 30px 0;
    }


}

@media (min-width: 651px) {
    .block-title-mob {
        display: none
    }
}

@media (max-width: 650px) {
    .block-title-mob {
        display: none
    }

    .col-label {
        min-width: 100%;
        text-align: left
    }

    .col-limits-label, .col-sort-label {
        width: 100%
    }

    .col-xs-12.item-catalog {
        width: 100%
    }

    .info-price {
        height: 120px;
        height: inherit;
        font-size: 16px;
        padding: 10px 15px
    }

    .info-price b {
        font-size: 16px
    }

    .btn-callback, .col-list-grid {
        display: none
    }

    .product-layout.col-lg-4.col-md-4 {
        width: 100%
    }

    .slider-image-additional {
        display: none
    }

    .slider-image-big-curier {
        width: 100%
    }

    .col-share span {
        display: none
    }

    .col-qty label, .list-specification li span:first-child, .col-product-right .options .control-label, .label-text {
        width: 30%
    }

    .col-stock {
        display: none
    }

    .col-price-value {
        font-size: 18px;
        width: 60%;
        text-align: left
    }

    .col-size-link {
        padding: 10px 0
    }

    .col-product-bts {
        padding-bottom: 0
    }

    .col-review-description {
        padding-top: 0
    }

    .simplecheckout-padding .quantity {
        display: none
    }

    .information-information .table > tbody > tr > td, .information-information .table > tbody > tr > th, .information-information .table > tfoot > tr > td, .information-information .table > tfoot > tr > th, .information-information .table > thead > tr > td, .information-information .table > thead > tr > th {
        padding: 14px 5px
    }

    .col-sort-label {
        padding: 5px 0 15px 0
    }

    #list-view {
        display: none
    }
    /*simplecheckout*/
    .simplecheckout-padding .image {
        padding: 5px;
    }
    .simplecheckout-padding {
        padding: 5px;

    }
    #simplecheckout_shipping .simplecheckout-block-content .radio{
        float: left;
        width: 100%;
    }
    .simplecheckout-button-block {
        width: 100%;
    }
    .gallery-slider .slick-track {
        margin: 0 0 0 0;
    }
    .list-home-category .slick-arrow, .gallery-slider .slick-arrow {
        bottom: 45%;
    }
}

@media (max-width: 479px) {
    #cart .dropdown-menu {
        min-width: 280px
    }

    .modal-buy-one-click .col-image {
        padding-bottom: 15px
    }

    .modal-quick-login-register .modal-body button.createaccount {
        width: 230px
    }

    .btn-default {
        padding: 0 10px 0 10px
    }

    .menu-container-open .nav > li > a {
        padding: 10px 19px
    }

    .FinalPrice {
        font-size: 28px
    }

    #simplecheckout_customer .col-sm-9, #simplecheckout_customer .form-group {
        width: 100%
    }

    #simplecheckout_shipping_address .form-group {
        width: 100%
    }

    .col-contact-list li {
        padding: 0 0 30px 30px
    }

    .col-contact-list li i {
        left: 5px
    }
    .col-not-found .icon-right-arrow-2, .col-back-bt{
        display: none;
    }

    .col-not-found .text {
      display: none;

    }
}
