/* Front End Styles */
.PB_plusbutton {
	font-size:30px;
	font-weight:bold;
	vertical-align:top;
	margin-bottom:0px;
	margin-right:0;
	padding:84px 3px 65px 4px;
	min-width: 29px;
	min-height: 190px;
	display:inline-block;
	color: #aac078;
	position: relative;
	z-index: 8;
	background: #fff;
	text-align: center;

}
.PB_product {
	display:inline-block;
	vertical-align:top;	
	position:relative;
	z-index: 7;
	*zoom: 1;
    *display: inline;
	margin: 0;
	border: 1px #e9e9e9 solid;
	padding: 35px 35px 0 35px;
	background: #fff;
	min-height: 195px;
}
.PB_image{
	float: left;
	width: 110px;
	height: 110px;
}
.PB_product_image {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.pb_name{
	width: 180px;
	float: left;
}
.PB_product_name {
	color: #333333;
	font-weight: 700;
	text-decoration: none;
	display: block;
	margin: 4px 0;
	font-size:21px;
	line-height: 20px;

}
.pb_price{
	padding-top: 15px;
	color: #aac078;
	font-weight: 700;
	font-size:21px;
	line-height: 20px;
}
.PB_bundle_info {
	text-align:center;
	vertical-align:top;
	display:inline-block;
	margin: 25px 0 0 13px;
	*zoom: 1;
    *display: inline;	
}
.PB_bundle_total_price {
	font-size:16px;
}
.PB_heading_text {
	font-size:16px;
	display: block;
	padding-bottom:8px;
	font-weight:bold;
}
.PB_options_image {
	padding: 3px;
	border: 1px solid #E7E7E7;
}
.PB_colorbox_footer {
	display: block;
	vertical-align:middle;
	margin-top:10px;
}
.PB_continue {
	float:right;
	display: inline-block;
	text-align:right;
}
.PB_options_product_field {
	padding: 5px 0 12px 0;
}
.PB_options_product_field a {
	color: #000 !important;
	font-size:14px;
	font-weight:bold;
	text-decoration:none;
	padding-bottom: 5px;
	line-height: 16px;
	display: block;
}
.PB_options_product_field a:hover {
	text-decoration:underline;
}
.PB_colorbox_footer_text {
	display: block;
	width: auto;
	font-size: 12px;
	line-height: 15px;
	color: #4c4c4c;
}
.PB_options_product_item {
	float:left;
	width: 100%;
	border-bottom:1px #e9e9e9 solid;
	padding: 15px 0px 15px 0;
	margin-bottom: 15px;
}
.PB_options_product_item_last {
	float:left;
	padding: 15px 0px 15px 0;
	border: 0;
}
.PB_options .option {
	display: block;
	padding: 5px 0;
}
#ProductBundlesOptionsForm {
	display: inline-block;
}

/* PB listing pagination */
.pbListing-pagination {
	border-top: 1px solid #EEEEEE;
	padding-top: 8px;
	display: inline-block;
	width: 100%;
	margin-bottom: 10px;
}

.pbListing-pagination .links {
	float: left;
}

.pbListing-pagination .links b {
	display: inline-block;
	border: 1px solid #269BC6;
	padding: 4px 10px;
	font-weight: normal;
	text-decoration: none;
	color: #269BC6;
	background: #FFFFFF;
}

.pbListing-pagination .results {
	float: right;
	padding-top: 3px;
}

.pbListing-pagination .links a {
	display: inline-block;
	border: 1px solid #EEEEEE;
	padding: 4px 10px;
	text-decoration: none;
	color: #A3A3A3;
}

.pbListing-content {
	padding: 0px;
	overflow: auto;
	margin-bottom: 20px;
}

.pbListing-box {
	margin-bottom: 20px;
}

.pbListing-box .box-content {
	background: #FFFFFF;
}

.pbListing-box .box-content .box-products {
	padding: 10px 0;
	position: relative;
}

.pbListing-box .box-content .box-products .PB_product:after {
	content: '';
	width: 65px;
	height: 65px;
	position: absolute;
	top: 65px;
	right: -49px;
	background: #fff;
	border-radius: 50%;
	border: 1px #e9e9e9 solid;

}
.pbListing-box .box-content .box-products .PB_product + .PB_plusbutton + .PB_product {
	z-index: 6;
}
.pbListing-box .box-content .box-products .PB_product + .PB_plusbutton + .PB_product:after {
	top: 65px;
	left: -49px;
	right: inherit;
}

.pbListing-box .box-content .box-products .PB_bundle_info {
	display:inline-block;
	vertical-align:top;
	position:relative;
	z-index: 7;
	*zoom: 1;
	*display: inline;
	margin: 0;
	border: 1px #e9e9e9 solid;
	padding: 35px 20px 0 20px;
	background: #fff;
	min-height: 195px;
	max-width: 350px;
	width: 350px;
}
.VoucherPercent {
	float: left;
	width: 40%;
	font-size: 48px;
	font-weight: 700;
	color: #333333;
	text-align: center;
}
.FinalPrice{
	float: left;
	width: 60%;
	font-size: 35px;
	font-weight: 700;
	color: #aac078;
	text-align: center;

}
#ProductBundlesSubmitButton{
	max-width: 160px;
	line-height: 24px;
	min-height: 45px;
	padding: 8px 20px 6px 20px;
	width: 100%;

	text-transform: uppercase;
}
#ProductBundlesSubmitButton i {
	float: left;
	font-size: 18px;
	padding: 3px 15px 0 0;
}
#ProductBundlesSubmitButton span {
	padding: 0;
}

.bundle-name {
	font-size: 14px;
	padding: 0px 0px 10px 0px;	
}

.bundle-list-name {
	font-size: 14px;
	padding: 5px 0px 5px 10px;		
}

.pb_quantity {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  z-index: 99;
  top: -5px;
  left: -10px;
  color: #fff;
  background-color: #ee3313;
  border-radius: 50%;
  -webkit-border-radius: 50%; 
  -moz-border-radius: 50%; 
  width: 34px;
  height: 34px;
  line-height: 34px;
  padding: 0;
  text-align: center;
}
/*modal-buy-bundle*/
.modal-buy-bundle .modal-body {
	padding: 20px 30px 15px 30px;
}
.modal-buy-bundle .option{
	float: left;
	width: 100%;
}


.modal-buy-bundle .option .control-label {
	width: 100%;
}
.error{
	float: left;
	width: 100%;
}