body {
    background-position: right top, left top;
    background-repeat: no-repeat, no-repeat;
    color: #3a3a3a;
    font-family: 'Play', sans-serif;
    font-size: 14px;
    font-weight: 400;
    height: 100%;
    line-height: 27px;
    width: 100%
}

body.modal-open {
    overflow: auto;
    padding: 0 !important
}

body.error-not_found {
    background-position: right top, left top;
    background-repeat: no-repeat, no-repeat
}

.wrapper {
    min-height: calc(100vh - 210px)
}

.error-not_found .wrapper {
    background: url("../image/not_found.png") center top no-repeat;
    background-size: cover
}

* {
    outline: none !important
}

h1, h2, h3, h4, h5, h6 {
    color: #444
}

.fa {
    font-size: 12px
}

.box-heading {
    color: #333;
    font-family: 'Play', sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 40px;
    text-transform: uppercase;
    margin: 24px 0 25px 0
}

h1 {
    color: #aac078;
    font-size: 40px;
    font-weight: bold;
    line-height: 47px;
    margin: 15px 0;
    padding: 0;
    position: relative
}

.product-page h1, .title-h1 {
    color: #3a3a3a;
    font-size: 22px;
    font-weight: bold;
    line-height: 22px;
    margin: 8px 0 15px 0
}

h2 {
    font-size: 27px
}

h3 {
    font-size: 21px
}

.box-heading-3 {
    color: #3a3a3a;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    font-weight: bold;
    margin: 28px 0 11px 0
}

h4 {
    font-size: 14px
}

.container h4 {
    color: #aac078;
    font-weight: 700
}

.information-contact h4 {
    color: #333;
    font-weight: 700;
    font-size: 16px
}

h5 {
    font-size: 12px
}

h6 {
    font-size: 10.2px
}

a {
    color: #000;
    cursor: pointer
}

a:hover {
    color: #aac078;
    text-decoration: none
}

a.decorate {
    position: relative;
    text-align: center
}

a.decorate:before {
    background: #000;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition: width .25s ease-in-out;
    width: 0
}

a.decorate:hover:before {
    width: 100%
}

a.decorate-left:before {
    right: inherit
}

a.decorate.decorate-chery-color:before {
    background: #aac078
}

a.decorate.decorate-white-color:before {
    background: #fff
}

a.link-dashed {
    position: relative;
    text-align: center
}

a.link-dashed:before {
    background: 0;
    border-bottom: 1px dashed #000;
    bottom: 0;
    content: '';
    height: 1px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    transition: width .25s ease-in-out;
    width: 100%
}

a.link-dashed:hover:before {
    width: 0
}

.clearfix {
    clear: both
}

b > i, strong > i {
    color: #3a3a3a;
    display: block;
    font-size: 14px;
    font-style: italic;
    font-weight: bold;
    padding: 5px 0 5px 0
}

legend {
    font-size: 18px;
    padding: 7px 0
}

label {
    font-size: 16px;
    font-weight: normal
}

.error, label.error {
    color: #6f2929;
    font-size: 10px;
    padding: 0 5px
}

select.form-control, input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s;
    background-color: #f5f5f5;
    border: solid 1px #ebebeb;
    color: #818181;
    float: left;
    font-size: 14px;
    font-style: normal;
    height: 45px;
    margin: 0 3px;
    padding: 5px 25px
}

input:focus::-webkit-input-placeholder {
    opacity: 0
}

input:focus::-webkit-input-placeholder {
    opacity: 0
}

input:focus:-moz-placeholder {
    opacity: 0
}

input:focus:-moz-placeholder {
    opacity: 0
}

input:focus::-moz-placeholder {
    opacity: 0
}

input:focus:-ms-input-placeholder {
    opacity: 0
}

input[type=text], textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

input[type="text"].form-control, input[type="password"].form-control, input[type="datetime"].form-control, input[type="datetime-local"].form-control, input[type="date"].form-control, input[type="month"].form-control, input[type="time"].form-control, input[type="week"].form-control, input[type="number"].form-control, input[type="email"].form-control, input[type="url"].form-control, input[type="search"].form-control, input[type="tel"].form-control, input[type="color"].form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

textarea.form-control {
    background-color: #f5f5f5;
    border: solid 1px #ebebeb;
    color: #818181;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    font-size: 14px;
    font-style: normal;
    min-height: 160px;
    padding: 12px 25px;
    resize: none;
    transition: border-color ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s
}

select.form-control {
    border: 0;
    padding: 0
}

input.form-control:focus, input.form-control:active, textarea.form-control:focus, textarea.form-control:active {
    background-color: #f2f2f2
}

.input-group input, .input-group select, .input-group .dropdown-menu, .input-group .popover {
    font-size: 12px
}

.input-group .input-group-addon {
    font-size: 12px;
    height: 30px
}

input[type="checkbox"].styled {
    left: -9999px;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    vertical-align: middle
}

input[type="checkbox"].styled + label {
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 0 0 0 36px;
    position: relative;
    text-transform: none;
    vertical-align: top;
    width: auto !important;
    color: #333;
    font-weight: 700;
    line-height: 20px
}

.modal input[type="checkbox"].styled + label {
    font-size: 12px;
    line-height: 2
}

input[type="checkbox"].styled + label::before, input[type="checkbox"].styled + label::after {
    content: '';
    position: absolute
}

input[type="checkbox"].styled + label:after {
    background: #ccc;
    border-radius: 0;
    height: 17px;
    left: 2px;
    opacity: 0;
    top: 3px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    width: 17px
}

input[type="checkbox"].styled:checked + label::after {
    opacity: 1
}

input[type="checkbox"].styled + label:before {
    border: 1px solid #838383;
    border-radius: 0;
    height: 21px;
    left: 0;
    top: 1px;
    width: 21px
}

.mfilter-image_list_checkbox .mfilter-tb-as-tr {
    display: block !important;
    float: left;
    padding: 5px
}

.mfilter-image_list_checkbox .mfilter-tb .mfilter-tb-as-tr .mfilter-tb-as-td {
    margin: 0;
    padding: 0
}

.mfilter-image_list_checkbox input.styled[type="checkbox"] + label::after {
    display: none
}

.mfilter-image_list_checkbox input[type="checkbox"].styled + label:before {
    display: none
}

.mfilter-image_list_checkbox input[type="checkbox"].styled + label, .mfilter-image_list_checkbox .mfilter-tb .mfilter-tb-as-tr .mfilter-tb-as-td.label {
    background: #fff;
    height: 27px !important;
    width: 27px !important;
    border: 1px solid #ebebeb;
    padding: 5px !important;
    margin-bottom: 0
}

.mfilter-image_list_checkbox .mfilter-input-active input[type="checkbox"].styled + label {
    border: 1px solid #aac078
}

.mfilter-image_list_checkbox input[type="checkbox"].styled + label img {
    padding: 0;
    margin: 0;
    max-width: 100%;
    float: left
}

.display_none {
    display: none
}

input[type="radio"].styled {
    left: -9999px;
    margin-bottom: 0;
    margin-top: 0;
    position: absolute;
    vertical-align: middle
}

input[type="radio"].styled + label {
    color: #333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.45;
    padding: 0 0 0 36px;
    position: relative;
    text-transform: none;
    vertical-align: top;
    width: auto !important
}

.modal input[type="radio"].styled + label {
    font-size: 12px;
    line-height: 2
}

input[type="radio"].styled + label::before, input[type="radio"].styled + label::after {
    content: '';
    position: absolute
}

input[type="radio"].styled + label:after {
    background: 0;
    border-radius: 0;
    background: #aac078;
    height: 15px;
    left: 3px;
    opacity: 0;
    top: 4px;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    width: 15px
}

input[type="radio"].styled:checked + label::after {
    opacity: 1
}

input[type="radio"].styled + label:before {
    border: 1px solid #ebebeb;
    background: whitesmoke;
    border-radius: 0;
    height: 21px;
    left: 0;
    top: 1px;
    width: 21px
}

span.hidden-xs, span.hidden-sm, span.hidden-md, span.hidden-lg {
    display: inline
}

div.required .control-label:before {
    color: #F00;
    content: '* ';
    font-weight: bold
}

.simplecheckout div.required .control-label::before {
    display: none
}

.simplecheckout div.required .control-label span {
    color: #F00
}

.container {
    width: 1170px
}

#top {
    background-color: #282828;
    border: 0;
    border-bottom: 4px solid #aac078;
    color: #fff;
    font-family: 'Play', sans-serif;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.73;
    margin: 0;
    min-height: 60px;
    padding: 0
}

.affix #top {
    min-height: 40px
}

#top .container {
    padding: 0;
    width: 1170px
}

#top ul {
    margin: 0;
    padding: 0
}

#top a {
    color: #fff
}

#top #currency .currency-select {
    text-align: left
}

#top .btn-group {
    padding: 0 15px 0 15px
}

#top .curier-contact-top .btn-group {
    padding: 0 15px 0 0
}

#top .btn-group.open {
    background: #fff
}

#top #currency .currency-select:hover {
    background-color: #414141;
    background-image: linear-gradient(to bottom, #414141, #414141);
    background-repeat: repeat-x;
    color: #fff;
    text-shadow: none
}

#top .btn-link, #top-links li, #top-links a {
    color: #fffefe;
    font-size: 20px;
    font-weight: 700;
    height: 60px;
    line-height: 24px;
    padding: 13px 0 0 15px;
    text-decoration: none;
    text-transform: uppercase
}

.affix #top .btn-link, .affix #top-links li, #top-links a {
    height: 40px;
    padding: 8px 0 0 15px
}

#top .btn-group > .btn + .dropdown-toggle, #top .btn > .icon-arrow-dawn {
    color: #aac078;
    cursor: pointer;
    display: inline-block;
    font-size: 8px;
    padding: 24px 10px 25px 10px
}

.affix #top .btn-group > .btn + .dropdown-toggle, .affix #top .btn > .icon-arrow-dawn {
    padding: 16px 15px 16px 15px
}

#top .btn-group.open > .btn + .dropdown-toggle, #top .btn-group.open > .btn > .icon-arrow-dawn {
    color: #000;
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg)
}

#top .btn-link:hover, #top-links a:hover, #top .open .btn-link {
    color: #aac078
}

#top .dropdown-menu {
    border: 0;
    padding: 5px 0;
    width: 100%
}

#top-links .dropdown-menu a {
    text-shadow: none
}

#top-links .dropdown-menu a:hover {
    color: #FFF
}

#top .btn-link strong {
    font-size: 14px;
    line-height: 14px
}

#top-links {
    padding-top: 6px
}

#top-links a + a {
    margin-left: 15px
}

.curier-contact-top li {
    padding: 0 40px 0 20px
}

.curier-contact-top i {
    color: #aac078;
    font-size: 7x;
    font-style: normal;
    font-weight: bold;
    padding-right: 20px
}

#top .curier-contact-top li a {
    color: #282828;
    font-size: 16px;
    text-align: right
}

#cart > .btn-cart i {
    padding: 0 25px 0 0
}

.col-language {
    padding: 0
}

#top .col-language .btn-group {
    padding: 0 0 0 15px
}

#top .col-language .btn-group .btn-link {
    font-size: 16px;
    font-weight: 700;
    padding: 0;
    width: 55px
}

.text_language, .curier-lng-currency form {
    display: inline-block
}

.curier-lng-currency .btn-link {
    color: #fff;
    font-size: 15px;
    padding: 0;
    text-transform: uppercase
}

.curier-lng-currency .btn-link span {
    float: left;
    padding: 17px 6px 0 0
}

.affix .curier-lng-currency .btn-link span {
    padding: 6px 6px 0 0
}

#top .curier-lng-currency .btn-group .btn > .icon-arrow-dawn {
    float: left;
    padding: 25px 0 25px 0
}

.affix #top .curier-lng-currency .btn-group .btn > .icon-arrow-dawn {
    float: left;
    padding: 13px 0 10px 0
}

.curier-lng-currency .open .btn-link .icon-arrow-dawn {
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg)
}

.curier-lng-currency .dropdown-menu {
    background: #fff;
    background-clip: padding-box;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    float: left;
    font-size: 15px;
    left: 0;
    list-style: none;
    margin: 2px 0 0;
    min-width: 54px;
    padding: 5px 0;
    position: absolute;
    text-align: left;
    top: 100%;
    z-index: 1000;
    -webkit-background-clip: padding-box
}

#top .curier-lng-currency .dropdown-menu li > a, #top .curier-lng-currency .dropdown-menu li > button {
    color: #000;
    font-size: 15px;
    font-weight: normal;
    height: inherit;
    padding: 5px 15px 5px 15px;
    text-decoration: none;
    text-transform: uppercase
}

#top .curier-lng-currency .dropdown-menu li > a {
    line-height: 26px
}

.col-currencies {
    padding: 0
}

#top .col-currencies .btn-link {
    font-size: 16px;
    font-weight: 700;
    padding: 0
}

.col-currencies .dropdown-menu {
    min-width: 65px
}

header {
    background: #282828 url("../image/layer-4.png") center 0 repeat;
    height: 83px
}

.affix header {
    height: 50px
}

header .container {
    padding: 0;
    width: 1170px
}

.col-logo {
    float: left;
    padding: 5px 15px 0 15px;
    width: 298px
}

.affix .col-logo {
    height: 50px
}

#logo {
    margin: 0 0 10px 0
}

.affix #logo {
    margin: 0;
    width: 100px
}

#logo img {
    height: auto;
    max-width: 100%;
    transition: all .25s ease-in-out
}

.col-menu {
    float: left;
    padding: 0 0 0 60px;
    position: relative;
    width: 800px;
    z-index: 7
}

.header-curier.affix .col-menu {
    padding: 0 0 0 60px
}

#menu {
    background: 0;
    border: 0;
    margin: 0;
    min-height: 20px;
    position: relative
}

#menu .nav > li {
    padding: 0 7px
}

#menu .nav > li > a {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    min-height: 15px;
    padding: 30px 0 32px 0;
    position: relative;
    text-shadow: none;
    text-transform: uppercase
}

.header-curier.affix #menu .nav > li > a {
    padding: 14px 0 15px 0
}

#menu .nav > li > a.headermenu_id-15, .menu-container .nav > li > a.headermenu_id-15 {
    color: #aac078
}

.catalog-link {
    text-transform: uppercase
}

#menu .nav > li > a:hover, #menu .nav > li.open > a, #menu .nav > li > a.active {
    background: 0;
    color: #aac078
}

#menu .nav > li.dropdown > a > span {
    padding: 0 9px 0 0
}

#menu .nav > li.dropdown.catalog-link > a > span {
    padding: 0 10px 0 0
}

#menu .navbar-nav .dropdown-menu {
    background-color: #fff;
    border: 0;
    border-radius: 0;
    box-shadow: 10px 10px 20px 0 rgba(0, 0, 0, 0.29);
    min-width: 270px;
    margin: 0 -15px;
    padding: 0;
    width: 1170px
}

#menu .dropdown-inner {
    display: block;
    width: 100%
}

#menu .menu-category {
    float: left;
    width: 20%;
    padding: 15px
}

#menu .menu-category .name {
    width: 100%;
    display: block;
    text-align: center;
    color: #aac078;
    font-size: 16px;
    font-weight: 700;
    line-height: 21px;
    padding: 15px 0;
    min-height: 85px
}

#menu .menu-category .image {
    width: 100%;
    display: block;
    text-align: center
}

.childe-menu li {
    padding-left: 15px;
    position: relative;
    line-height: 20px
}

.childe-menu li:before {
    content: "• ";
    color: #aac078;
    position: absolute;
    left: 0;
    top: 0
}

#menu .dropdown-inner a {
    clear: both;
    color: #333;
    line-height: 14px;
    min-width: 100%;
    padding: 0
}

#menu .dropdown-inner .childe-menu {
    padding: 30px 0
}

#menu .dropdown-inner .childe-menu a {
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 700
}

#menu .dropdown-inner .childe-menu a:hover {
    color: #aac078
}

.col-user-curier {
    float: right;
    padding: 0
}

.row-user {
    display: table;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0
}

.row-user > li {
    display: table-cell;
    height: 20px;
    padding: 0 10px 0 10px;
    position: relative;
    vertical-align: middle
}

#top .row-user > li a {
    color: #000
}

.row-user > li.col-wishlist {
    padding: 0 10px 0 20px
}

.col-user-item {
    color: #fff;
    display: block;
    font-family: 'Play', sans-serif;
    line-height: 12px;
    margin: 0;
    padding: 0;
    position: relative;
    white-space: nowrap
}

.col-user-item.cart {
    background: #aac078;
    height: 60px;
    padding: 18px 35px;
    width: 240px
}

.affix .col-user-item.cart {
    height: 40px;
    padding: 10px 35px
}

.col-user-item a {
    white-space: normal
}

.col-user-item > button, .col-user-item > a {
    background: 0;
    border: 0;
    font-size: 16px;
    line-height: 24px;
    padding: 0;
    text-align: center;
    text-transform: uppercase
}

.col-user-item > button > i:before, .col-user-item > a > i:before {
    transition: all .25s ease-in-out
}

.col-user-item > button.dropdown-toggle > i:before, .col-user-item > a.dropdown-toggle > i:before {
    color: #aac078
}

.col-user-item > button:hover > i:before, .col-user-item > a:hover > i:before {
    opacity: .8
}

.col-user-item > button span {
    transition: all .25s ease-in-out
}

.col-user-item > button:hover span {
    color: #aac078
}

.col-user-item.welcom i {
    color: #aac078;
    font-size: 20px;
    line-height: 24px;
    padding-right: 15px
}

.wishlist-total {
    position: relative;
    font-size: 18px !important
}

.wishlist-total a {
    font-size: 18px
}

.wishlist-total span {
    background: #fff;
    border: 0px solid #aac078;
    border-radius: 12px;
    color: #000;
    font-size: 12px;
    height: 24px;
    opacity: 0;
    position: absolute;
    right: 15px;
    text-align: center;
    top: -3px;
    visibility: hidden;
    width: 24px
}

.affix .wishlist-total span {
    top: 0;
}

.wishlist-total.wishlist-full span {
    opacity: 1;
    visibility: visible
}

.wishlist-total.wishlist-full > i:before {
    color: #aac078
}

#search {
    float: right;
    padding: 30px 15px 0 15px;
    position: relative;
    width: 45px
}

.affix #search {
    padding: 13px 15px 0 15px
}

.input-curier {
    border: 0;
    border-radius: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0;
    position: absolute;
    right: 3px;
    top: 20px;
    transition: all .1s ease-in-out;
    width: 0;
    z-index: -1
}

.affix .input-curier {
    top: 3px
}

#search .input-curier.open {
    background: #fff;
    opacity: 1;
    padding: 0 20px;
    z-index: 8
}

#search .search-input {
    background: #fff;
    border: 0;
    border-radius: 0;
    color: #a3a3a3;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    height: 44px;
    line-height: 24px;
    padding: 0 40px 0 15px;
    width: 100%
}

#search .search-btn {
    color: #aac078;
    font-size: 22px
}

#search .search-btn2 {
    background: 0;
    border: 0;
    border-left: 1px solid;
    font-size: 22px;
    left: 0;
    line-height: 18px;
    padding: 0 21px;
    position: absolute;
    text-align: center;
    top: 12px
}

#search .search-btn3 {
    background-color: #000;
    border: 0;
    color: #fff;
    display: block;
    font-size: 22px;
    height: 44px;
    padding: 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 44px
}

#cart > .btn-cart {
    position: relative;
    width: 100%
}

#cart > .btn-cart i {
    color: #fff;
    float: left;
    line-height: 24px;
    padding: 0 20px 0 0;
    font-size: 26px;
    margin-top: -2px
}

#cart.cart-full > .btn-cart i, #cart.cart-full > .btn-cart i:before {
    color: #fff
}

.btn-cart .text-cart {
    float: left;
    font-weight: 700;
    line-height: 24px;
    padding-right: 15px;
    text-transform: uppercase;
    Font-size: 16px
}

.btn-cart:hover .text-cart {
    color: #fff;
    opacity: .8
}

#cart-total {
    background: #fff;
    border-radius: 12px;
    color: #000;
    display: inline-block;
    float: left;
    font-size: 12px;
    height: 24px;
    text-align: center;
    width: 24px
}

#cart .dropdown-menu {
    background-color: #fff;
    border: solid 1px #d5d5d5;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    margin-top: 0;
    min-height: 39px;
    min-width: 425px;
    padding: 5px 0 0 0;
    right: -1000px;
    transition: all .25s ease-in-out;
    z-index: 1001;
    color: #333
}

#cart.open .dropdown-menu {
    right: 0
}

#cart:hover .dropdown-menu {
    display: block;
    right: 0
}

#cart .dropdown-menu a {
    color: #333
}

#cart .dropdown-menu table {
    margin-bottom: 10px
}

#cart .dropdown-menu li > div {
    min-width: 240px;
    padding: 0 10px
}

#cart .dropdown-menu li p {
    color: #a3a3a3;
    font-size: 13px;
    margin: 7px 0
}

#cart .table-totals {
    display: none
}

#cart .table td {
    border: 0;
    padding: 10px 5px
}

#cart .table tr td:first-child {
    min-width: 60px
}

#cart .cart-link-li {
    background: #fff;
    margin: 0;
    opacity: 1;
    padding: 0 5px 15px 5px
}

.btn-checkout{
    margin: 0 auto;
    width: 200px;
    padding: 15px;
    display: block;
    background: #aac078;
    text-transform: uppercase;
    color: #fff!important;
    font-weight: bold;

}
#cart .img-thumbnail {
    border: 0;
    border-radius: 0
}

.header-curier {
    float: left;
    transition: all .1s ease-in-out;
    width: 100%
}

.header-curier.affix {
    background: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);
    height: 94px;
    z-index: 999
}

.header-curier .logo-small {
    display: none
}

.header-curier.affix .logo-small {
    display: block
}

.header-curier.affix .logo-full {
    display: none
}

.container-top {
    padding: 0;
    width: 100% !important;
    background-color: whitesmoke;
    margin-bottom: 15px
}

.error-not_found .container-top {
    display: none
}

.container-top .breadcrumb {
    margin: 0 auto;
    width: 1170px
}

.info-price {
    background-color: #f6f6f6;
    clear: both;
    color: #797979;
    font-size: 16px;
    height: 80px;
    line-height: 1.5;
    margin: 18px 0;
    padding: 19px 15px 10px 15px;
    text-align: center;
    width: 100%
}

.info-price p {
    margin: 0;
    padding: 0
}

.info-price b {
    color: #595959;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2
}

#content {
    padding-bottom: 70px
}

.information-information #content {
    line-height: 17px
}

.alert {
    border-radius: 0;
    margin: 5px 0;
    padding: 10px 25px
}

.masked {
    background: #eee;
    height: 100%;
    left: 0;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10000
}

.masked_loading {
    background: url('../image/ring-alt.svg') no-repeat center center;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10001
}

.buttons {
    margin: 1em 0
}

.buttons.center {
    float: left;
    text-align: center;
    width: 100%
}

.btn {
    border-radius: 0;
    box-shadow: none;
    font-size: 15px;
    padding: 8px 15px;
    transition: background .15s ease-in-out
}

.btn-xs {
    font-size: 9px
}

.btn-sm {
    font-size: 10.2px
}

.btn-lg {
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    padding: 12px 43px
}

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover {
    font-size: 12px
}

.btn-group > .btn-xs {
    font-size: 9px
}

.btn-group > .btn-sm {
    font-size: 10.2px
}

.btn-group > .btn-lg {
    font-size: 15px
}

.btn-default {
    background: #292929;
    border: 0 solid #000;
    border-radius: 0;
    color: #fff;
    height: 41px;
    line-height: 45px;
    padding: 0 24px 0 24px;
    text-shadow: none
}

.btn-default:hover {
    background: #aac078;
    color: #000
}

.btn-primary {
    background: #292929;
    border: 1px solid #292929;
    color: #fff;
    text-shadow: none;
    font-weight: 700
}

.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background: #aac078;
    border: 1px solid #aac078;
    box-shadow: none;
    color: #fff
}

.btn-primary i {
    font-size: 20px
}

.btn-primary:active i, .btn-primary:focus i {
    color: #aac078
}

.btn-primary i + span {
    padding: 0 30px 0 0;
    text-align: left
}

.btn-white {
    background: #fff;
    border: 1px solid #000;
    color: #000;
    text-shadow: none
}

.btn-white:hover, .btn-white:active, .btn-white.active, .btn-white.disabled, .btn-white[disabled] {
    background: #fff;
    box-shadow: none;
    -webkit-box-shadow: none;
    color: #000
}

.btn-white i {
    font-size: 20px;
    padding: 0 30px 0 0
}

.btn-white:active i, .btn-white:focus i {
    color: #aac078
}

.btn-white i + span {
    padding: 0 30px 0 0;
    text-align: left
}

.btn-warning {
    background-color: #faa732;
    background-image: linear-gradient(to bottom, #fbb450, #f89406);
    background-repeat: repeat-x;
    border-color: #f89406 #f89406 #ad6704;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1)
}

.btn-danger {
    background-color: #da4f49;
    background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
    background-repeat: repeat-x;
    border-color: #bd362f #bd362f #802420;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1)
}

.btn-success {
    background-color: #5bb75b;
    background-image: linear-gradient(to bottom, #62c462, #51a351);
    background-repeat: repeat-x;
    border-color: #51a351 #51a351 #387038;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    box-shadow: inset 0 1000px 0 rgba(0, 0, 0, 0.1)
}

.btn-info {
    background-color: #df5c39;
    background-image: linear-gradient(to bottom, #e06342, #dc512c);
    background-repeat: repeat-x;
    border-color: #dc512c #dc512c #a2371a;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #df5c39;
    background-image: none
}

.btn-green {
    background-color: #aac078;
    color: #fff;
    float: right;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 45px;
    line-height: 34px;
    padding: 5px 20px;
    text-align: left;
    text-transform: uppercase;
    width: 189px
}

.btn-green:hover {
    color: #fff;
    opacity: .8
}

.btn-green span {
    float: left;
    font-weight: bold;
    padding: 0
}

.btn-green i {
    float: right;
    font-size: 14px;
    padding: 10px 0 0 10px
}

.btn-link {
    border-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    color: #23a1d1;
    cursor: pointer
}

.btn-link, .btn-link:active, .btn-link[disabled] {
    background-color: rgba(0, 0, 0, 0);
    background-image: none;
    box-shadow: none
}

.btn-collapse {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    text-transform: uppercase;
    height: 20px;
    background-color: #aac078;
    color: #fff;
    border: 0;
    opacity: .5
}

.btn-collapse span {
    padding: 0 36px 0 8px;
    float: left;
    display:
}

.btn-collapse i {
    font-size: 10px;
    float: left;
    display: block;
    line-height: 17px
}

.btn-collapse.collapsed {
    opacity: 1
}

.btn-inverse {
    background-color: #363636;
    background-image: linear-gradient(to bottom, #444, #222);
    background-repeat: repeat-x;
    border-color: #222 #222 #000;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
}

.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222;
    background-image: linear-gradient(to bottom, #333, #111)
}

.btn-full-width {
    width: 100%
}

.alert-success2 {
    background-color: #fff;
    border-color: #d1d1d1;
    border-radius: 0;
    clear: both;
    color: #a3a3a3;
    float: left;
    margin: 5px 0;
    padding: 5px 25px;
    text-align: center;
    width: 100%
}

#content ol li.list-group-item {
    color: #000;
    counter-increment: item;
    display: list-item;
    list-style: none;
    margin: 30px 0;
    padding: 1px 0 0 60px
}

#content ol li.list-group-item:before {
    background: 0;
    border: solid 1px #c0c0c0;
    border-radius: 0;
    color: #000;
    content: counter(item);
    display: inline-block;
    font-size: 18px;
    height: 30px;
    left: 0;
    line-height: 28px;
    margin-right: 10px;
    position: absolute;
    text-align: center;
    top: 0;
    width: 30px
}

ul.cub-list {
    margin: 0;
    padding: 0
}

ul.cub-list li {
    color: #000;
    display: list-item;
    list-style: none;
    margin: 15px 0;
    padding: 0 0 0 40px;
    position: relative
}

ul.cub-list li:before {
    background: #aac078;
    border-radius: 0;
    content: '';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 15px;
    width: 10px;
    height: 10px
}

ul.count-list {
    margin: 0;
    padding: 0
}

ul.count-list li {
    color: #000;
    counter-increment: item;
    display: list-item;
    list-style: none;
    margin: 15px 0;
    padding: 0 0 0 40px;
    position: relative
}

ul.count-list li:before {
    background: 0;
    border-radius: 0;
    color: #aac078;
    content: counter(item) ". ";
    display: inline-block;
    font-size: 18px;
    height: 30px;
    left: 0;
    line-height: 28px;
    margin-right: 10px;
    position: absolute;
    text-align: right;
    top: 10px;
    width: 30px
}

.center-block {
    color: #3a3a3a;
    font-size: 16px;
    line-height: 1.75;
    padding: 15px 0 45px 0;
    text-align: center
}

.modal-body p {
    color: #3a3a3a;
    font-size: 12px;
    line-height: 1.75;
    text-align: center
}

.modal-body form {
    display: block;
    float: left
}

.modal-body .form-group {
    margin: 24px -15px;
    float: left;
    width: 100%
}

.modal-body .form-group input.form-control {
    color: #3a3a3a !important;
    font-size: 12px !important;
    font-style: normal !important;
    padding: 12px 10px !important
}

.modal-body .text-attention {
    color: #6f2929;
    font-family: 'Play', sans-serif;
    font-size: 12px;
    line-height: 1.1;
    padding: 0 5px;
    text-align: left
}

.modal-quick-login-register .modal-sm {
    width: 1030px
}

.modal-quick-login-register .modal-body {
    float: left;
    padding: 20px 30px;
    position: relative;
    width: 1030px
}

.modal-quick-login-register .modal-body .form-group {
    margin: 0 0 24px 0
}

.modal-quick-login-register .modal-body p {
    text-align: left
}

.modal-quick-login-register .modal-body .text-attention {
    margin-bottom: 17px
}

.modal-quick-login-register .modal-body button {
    width: 170px
}

.modal-quick-login-register .modal-body button.createaccount {
    width: 271px
}

.form-login {
    float: left;
    padding: 0 55px 0 0;
    width: 33.33%
}

.form-register {
    border-left: solid 1px #d4d4d4;
    float: left;
    padding: 0 0 0 72px;
    width: 66.66%
}

.modal-quick-login-register .modal-footer {
    background-color: #f7f7f7;
    clear: both;
    padding: 20px 30px 20px 30px;
    width: 100%
}

.curier-social-login {
    color: #3a3a3a;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    font-weight: bold;
    line-height: 20px;
    text-align: left
}

.curier-social-login > div {
    display: inline-block;
    float: left;
    padding: 5px 0 0 0;
    text-align: left
}

.curier-social-login > div:first-child {
    padding: 10px 10px 0 0
}

.ulogin-buttons-container > div {
    border-radius: 2px !important;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    height: 30px !important;
    width: 30px !important
}

.modal-buy-one-click .modal-body {
    padding: 15px
}

.modal-buy-one-click .block-title-2 {
    font-size: 22px;
    margin: 0 0 20px 0;
    text-align: center
}

.modal-buy-one-click .block-title-2:after {
    display: none
}

.modal-buy-one-click .col-image img {
    height: auto;
    max-width: 100%;
    width: 100%
}

.modal-buy-one-click .col-price {
    padding: 0 0 15px 0
}

.modal-buy-one-click .col-price .price-new {
    font-size: 20px
}

.modal-buy-one-click .col-price .price-old {
    font-size: 16px
}

.modal-buy-one-click .col-payment-quantity {
    float: left;
    padding: 15px 0;
    width: 100%
}

.modal-buy-one-click .qty-input {
    width: 100%
}

.modal-buy-one-click .col-option {
    float: left;
    padding: 15px 0;
    width: 100%
}

.modal-buy-one-click .modal-body .form-group {
    margin: 0
}

.modal-buy-one-click .modal-body .col-option .form-group {
    margin: 15px 0
}

.modal-buy-one-click .payment-info {
    float: left;
    padding: 20px 0;
    width: 100%
}

.modal-buy-one-click .payment-info > div {
    padding: 10px 0 10px 0;
    float: left;
    width: 100%
}

.modal-buy-one-click .payment-info label {
    display: none;
    float: left;
    font-size: 12px;
    padding: 10px 0 0 10px;
    text-align: left;
    width: 100%
}

.modal-buy-one-click .payment-info input.form-control[type="text"], .modal-buy-one-click .payment-info textarea {
    color: #3a3a3a;
    font-style: normal;
    padding: 12px 10px !important
}

.modal-buy-one-click .modal-footer {
    padding: 0 15px 55px 15px;
    text-align: center
}

.send_review-modal label {
    display: none
}

.send_review-modal .help-block {
    display: none
}

.col-rating {
    text-align: center
}

.send_review-modal label.label-rating {
    display: block;
    padding-bottom: 15px;
    text-align: center
}

.send_review-modal input.form-control[type="text"], .send_review-modal textarea {
    color: #3a3a3a;
    font-style: normal;
    padding: 12px 10px !important
}

.send_review-modal .alert {
    font-size: 12px;
    margin: 15px -45px;
    padding: 15px 10px;
    text-align: center
}

.size-table-modal .modal-sm {
    width: 900px
}

.list-group a {
    border: 1px solid #ddd;
    color: #888;
    padding: 8px 12px
}

.list-group a.active, .list-group a.active:hover, .list-group a:hover {
    background: #eee;
    border: 1px solid #ddd;
    color: #444;
    text-shadow: 0 1px 0 #FFF
}

.block-title {
    color: #aac078;
    font-family: 'Play', sans-serif;
    font-size: 40px;
    font-weight: bold;
    line-height: 47px;
    margin: 30px 0;
    padding: 0;
    position: relative;
    text-transform: uppercase
}

.block-title span {
    padding: 0 15px 0 0;
    position: relative;
    z-index: 3
}

.curier-grey .block-title span {
    background: #f7f7f7
}

.curier-catalog-info .block-title span {
    padding: 0 15px 0 0
}

.block-title a {
    background-color: #aac078;
    color: #fff;
    float: right;
    font-family: 'Play', sans-serif;
    font-size: 18px;
    font-weight: 700;
    height: 45px;
    line-height: 34px;
    padding: 5px 20px;
    text-align: left;
    text-transform: uppercase;
    width: 189px
}

.block-title a:hover {
    opacity: .75
}

.block-title a > span {
    font-weight: bold;
    padding: 0;
    position: relative;
    z-index: 3
}

.block-title a > i {
    float: right;
    font-size: 14px;
    padding: 10px 0 0 10px
}

.block-title-2 {
    padding: 5px 15px 30px 15px;
    text-align: left;
    float: left;
    width: 100%;
    color: #aac078;
    font-size: 40px;
    font-weight: 700;
    line-height: 40px
}

.modal .block-title-2 {
    line-height: 20px
}

.block-title-2 a:hover {
    color: #989898
}

.block-title-black {
    background-color: #282828;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
    min-height: 50px;
    padding: 8px 15px
}

.block-title-black i {
    float: left;
    font-size: 30px;
    padding: 0 30px 0 0
}

.block-title-black i.icon-delivery {
    font-size: 22px;
    padding-top: 6px
}

.block-title-black span {
    float: left;
    padding: 6px 0
}

.carousel-caption {
    color: #fff;
    text-shadow: 0 1px 0 #000
}

.carousel-control .icon-prev:before {
    content: '\f053';
    font-family: FontAwesome
}

.carousel-control .icon-next:before {
    content: '\f054';
    font-family: FontAwesome
}

.currier-collection-slider {
    overflow: hidden;
    padding: 25px 0 25px 0;
    position: relative
}

.currier-collection-slider:after {
    background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 1) 85%);
    background: -webkit-linear-gradient(right, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 1) 85%);
    background: -o-linear-gradient(right, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 1) 85%);
    background: -ms-linear-gradient(right, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 1) 85%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.1) 0, rgba(255, 255, 255, 1) 85%);
    content: '';
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px
}

.collection-name {
    background: #f7f7f7;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 386px
}

.collection-name span {
    color: #aac078;
    font-family: 'Play', sans-serif;
    font-size: 32px;
    font-weight: bold;
    left: -87px;
    position: absolute;
    top: 250px;
    transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg)
}

.lng-en .collection-name span {
    left: -65px
}

.hidden-slide {
    opacity: 0
}

.newcollection-slider {
    padding: 0;
    right: -185px
}

.blure-slide {
    position: relative
}

.newcollection-slider .slick-list {
    display: block;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: relative
}

.newcollection-slider .slick-slide {
    height: 530px;
    padding: .5% 15px;
    text-align: center;
    transition: all .3s ease-in-out
}

.newcollection-slider .img-curier {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%
}

.newcollection-slider .slick-slide.slick-active.slick-current .img-curier {
    overflow: visible
}

.newcollection-slider .slick-slide img, img.grayscale {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%)
}

.newcollection-slider .slick-slide.slick-active.slick-current img, img.grayscale:hover {
    filter: none;
    -webkit-filter: none
}

.newcollection-slider .slick-slide img.img-1 {
    opacity: 0;
    visibility: hidden
}

.newcollection-slider .slick-slide img.img-2 {
    position: absolute;
    right: -85px;
    top: 0
}

.newcollection-slider .slick-slide.slick-active.slick-current img.img-2 {
    display: block;
    max-height: 100%;
    position: absolute;
    right: 0;
    top: 0
}

.curier-grey {
    background-color: #f7f7f7;
    padding: 20px 0;
    width: 100%
}

.curier-grey .block-title {
    margin: 15px 0
}

.item-instagram {
    padding: 30px 20px
}

.row-catalog-categories {
    padding-bottom: 35px
}

.curier-catalog-header-line {
    float: left;
    padding: 0 15px;
    width: 100%
}

.catalog-header-line {
    position: relative
}

.catalog-header-line:after {
    background: #595959;
    bottom: -50px;
    height: 1px;
    position: absolute;
    width: 100%
}

.item-catalog {
    padding: 30px 15px 0 15px
}

.item-catalog .name {
    color: #3a3a3a;
    font-family: 'Play', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 0 0 25px 0;
    text-align: center
}

.item-catalog .name span {
    background: #fff
}

.category-thumb {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    overflow: hidden;
    position: relative
}

.category-thumb:hover {
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%)
}

.category-thumb img {
    margin: 0 auto
}

.category-thumb .caption {
    background: #fff;
    bottom: -62px;
    height: 62px;
    left: 0;
    line-height: 62px;
    padding: 0 20px;
    position: absolute;
    transition: all .25s ease-in-out;
    width: 100%
}

.category-thumb:hover .caption {
    bottom: 0
}

.category-thumb .caption i {
    float: right;
    padding: 22px 10px 0 0
}

.category-thumb .caption span {
    float: left;
    font-size: 14px
}

.product-catalog .curier-grey {
    padding: 20px 0 60px 0
}

.product-catalog .curier-grey .block-title {
    margin: 15px 0 40px 0
}

.filter-option-id-9 .mfilter-tb {
    display: block
}

.filter-option-id-9 .mfilter-tb-as-tr {
    display: block;
    float: left;
    height: 41px;
    line-height: 38px;
    padding: 5px 5px;
    width: 56px
}

.filter-option-id-9 .mfilter-tb-as-td {
    border: 0 !important;
    float: left !important;
    height: 25px !important;
    line-height: 25px !important;
    padding: 0 !important;
    text-align: center;
    vertical-align: middle !important;
    width: 100% !important;
    font-weight: bold
}

.filter-option-id-9 input.styled[type="checkbox"] + label {
    border: 1px solid #838383;
    border-radius: 0;
    height: 38px;
    left: 0;
    top: 0;
    width: 100% !important
}

.filter-option-id-9 input.styled[type="checkbox"] + label::before {
    border: 0 solid #838383;
    border-radius: 0;
    height: 25px;
    left: 0;
    top: 0;
    width: 100%
}

.filter-option-id-9 input.styled[type="checkbox"]:checked + label {
    background: #000;
    color: #fff
}

.filter-option-id-9 input.styled[type="checkbox"]:checked + label::after {
    opacity: 0
}

.curier-grey.curier-category-description {
    padding: 20px 0 45px 0
}

.curier-category-description .block-title {
    line-height: inherit;
    margin-bottom: 40px
}

.curier-category-description .block-title span {
    padding-left: 0
}

.col-sort-limits {
    padding: 0 15px 20px 15px;
    float: left;
    width: 100%
}

.col-list-grid {
    float: right;
    width: 80px;
    text-align: right
}

.btn-view {
    padding: 15px 9px 9px 9px;
    background: 0;
    font-size: 11px;
    color: #999;
}
.btn-view.active {
    color: #000;
}

.col-sort-label {
    float: left;
    min-width: 270px;
    padding: 5px 0 0 0
}

.col-sort {
    width: 200px;
    float: left
}

.col-limits-label {
    float: right;
    width: 180px;
    text-align: left;
    padding: 5px 0 0 0
}

.col-label {
    min-width: 80px;
    float: left;
    height: 40px;
    padding-right: 15px
}

.col-label label {
    line-height: 40px
}

.col-limits {
    width: 65px;
    float: left
}

.row-viewed-product {
    padding-top: 15px
}

.row-viewed-product .block-title-2 {
    padding: 5px 15px 30px 0
}

.product-curier, .product-box-slider .slick-list {
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb
}

.not-full-box .slick-list {
    border-bottom: 1px solid #ebebeb
}

.product-layout {
    border: 1px solid #ebebeb;
    border-right: 0;
    padding: 15px 40px;
    transition: all .25s ease-in-out
}

.product-layout:hover {
    opacity: .85
}

.product-thumb {
    border: 0 solid #ddd;
    margin-bottom: 9px;
    overflow: hidden
}

.product-thumb .image {
    padding: 60px 0 30px 0;
    position: relative;
    text-align: center
}

.product-thumb .image a {
    display: block
}

.product-thumb .image a:hover {
    opacity: .8
}

.product-thumb .image img {
    margin-left: auto;
    margin-right: auto
}

.product-grid .product-thumb .image {
    float: none
}

.product-thumb h4 {
    font-weight: bold
}

.product-thumb .caption {
    float: left;
    padding: 0;
    width: 100%
}

.product-thumb .name {
    float: left;
    height: 50px;
    overflow: hidden;
    padding: 0;
    text-align: left;
    width: 100%
}

.product-thumb .name a {
    color: #333;
    display: block;
    font-size: 16px;
    font-weight: 400;
    line-height: 17px;
    text-align: left
}

.product-thumb .rating {
    padding-bottom: 10px;
    padding: 0;
    text-align: center;
    width: 100%;
    float: left;
    padding: 4px 0;
    min-height: 35px
}

.rating .fa-stack {
    font-size: 8px;
    color: #c3e27c
}

.rating .icon-star {
    color: #c3e27c;
    font-size: 14px
}

.rating .icon-star_red {
    color: #FC0;
    font-size: 20px
}

.rating .icon-star_red + .icon-star {
    color: #e69500
}

h2.price {
    margin: 0
}

.product-thumb .price {
    color: #333;
    float: left;
    font-size: 22px;
    font-weight: 700;
    height: 60px;
    line-height: 28px;
    padding: 5px 0 30px 0;
    text-align: left;
    width: 100%
}

.product-thumb .price-new {
    font-weight: normal
}

.product-thumb .price-old {
    color: #a7a7a7;
    font-size: 15px;
    margin-right: 5px;
    text-decoration: line-through
}

.product-thumb .price-tax {
    color: #999;
    display: block;
    font-size: 12px
}

.product-thumb .button-group {
    background: rgba(255, 255, 255, .75);
    border: 0
}

.product-thumb:hover .button-group {
    right: 0
}

.product-thumb .button-group button {
    border: 0;
    display: inline-block;
    text-align: center
}

.product-layout-button-cart {
    background-color: #292929;
    bottom: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    height: 45px;
    line-height: 45px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 100%
}



.product-layout-button-cart:hover, .product-layout:hover .product-layout-button-cart {
    background-color: #aac078;
    color: #fff
}

.product-layout-button-cart i {
    color: #fff;
    display: inline-block;
    font-size: 16px;
    padding: 0 10px 0 0;
}

.product-layout-button-cart span {
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    line-height: 45px;
    text-transform: uppercase
}

.product-layout-button-wishlist {
    background: 0;
    color: #878787;
    font-weight: bold;
    left: 0;
    top: 20px
}

.product-layout-button-wishlist.red {
    color: #aac078 !important
}

.product-layout-button-wishlist i {
    display: block;
    font-size: 14px
}

.product-layout-button-wishlist:hover i {
    opacity: .5
}

.product-layout-button-wishlist span {
    color: #878787;
    font-size: 12px;
    font-weight: bold
}

.option-sizes {
    position: absolute;
    text-align: center;
    top: 60px;
    width: 100%
}

.option-size {
    color: #000;
    display: block;
    font-size: 14px;
    line-height: 2.57;
    text-align: center;
    text-align: center;
    width: 100%
}

.product-label {
    font-family: 'Play', sans-serif;
    left: 0;
    min-height: 20px;
    min-width: 73px;
    position: absolute;
    top: 18px
}

.product-label span {
    background-color: #aac078;
    color: #fff;
    display: block;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    min-height: 20px;
    text-align: center;
    text-transform: uppercase;
    width: 100%
}

.product-label.sale span {
    background-color: #ff5454
}

.product-label i {
    color: #6e6767;
    display: block;
    font-size: 14px;
    font-style: normal;
    text-align: center;
    width: 100%
}

.col-timer-curier {
    position: relative
}

.timer-curier {
    background: #feb751;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    min-height: 45px;
    min-width: 180px;
    position: absolute;
    top: 38px;
    z-index: 9
}

.col-timer-curier .timer-curier {
    position: relative;
    top: 0;
    max-width: 180px
}

.t-day, .t-hour, .t-min, .t-sec {
    display: inline-block;
    text-align: center;
    width: 25%
}

.timer-curier .timer-text {
    font-size: 11px;
    font-weight: normal;
    text-transform: uppercase
}

.product-list.product-layout .product-thumb {
    margin-bottom: 0
}

.product-list.product-layout .product-thumb .image {
    float: left;
    width: 33.33%;
    padding: 15px 0
}

.product-list.product-layout .product-label {
    position: inherit;
    height: 20px;
    width: 73px;
}

.product-list.product-layout .product-thumb .caption {
    float: left;
    width: 33.33%;
    text-align: left;
    padding: 0 0 0 30px
}

.product-list.product-layout .product-thumb .name {
    padding: 15px 0;
    height: auto
}

.product-list.product-layout .product-thumb .rating {
    text-align: left;
    padding: 15px 0 0 0
}

.product-list.product-layout .product-thumb .price {
    padding-bottom: 10px;
    width: 180px;
    padding-left: 10px;
    margin: 0 auto;
    float: none;
    text-align: center;
}

.product-list.product-layout .product-thumb .button-group {
    float: left;
    width: 33.3%;
    padding: 15px 0 0 45px;
    text-align: center
}
.product-list .product-layout-button-cart {
    max-width: 170px;
}

.product-list.product-layout .product-layout-button-wishlist {
    width: 100%
}

.slider-image-additional {
    float: left;
    margin: 0;
    padding: 0;
    width: 100%
}

.slider-image-additional .item {
    cursor: pointer;
    padding: 15px 15px
}

.slider-image-additional .item.slick-current img {
    border: 2px solid #aac078
}

.slider-image-big-curier {
    float: left;
    padding: 0 15px 0 15px;
    position: relative;
    width: 100%
}

.slider-image-big > div {
    border: solid 0 #cacaca
}

.slider-image-big .arrow-prev {
    left: 0;
    bottom: 50%
}

.slider-image-big .arrow-next {
    right: 0;
    bottom: 50%
}

.slider-image-big-curier .btn-zoom {
    background: 0;
    border: 0;
    bottom: 13px;
    font-size: 21px;
    position: absolute;
    right: 15px;
    z-index: 8;
    color: #aac078
}

.slider-image-big-curier .btn-zoom:hover {
    opacity: .8
}

.col-product-right .rating {
    margin: -2px 0 0 0;
    padding: 7px 0 2px 0
}

.col-product-right .rating span {
    padding: 0
}

.list-specification {
    color: #000;
    font-size: 14px;
    line-height: 3;
    padding-bottom: 15px
}

.list-specification li {
    display: table;
    width: 100%
}

.list-specification li span {
    color: #595959;
    display: table-cell;
    font-size: 14px;
    line-height: 3;
    vertical-align: middle
}

.list-specification li span:first-child {
    line-height: 16px;
    width: 16.66%
}

.list-specification li span:last-child {
    color: #000;
    width: 84.3%
}

.col-product-right .options {
    float: left;
    width: 100%
}

.col-product-right .text-danger {
    width: 100%;
    float: left
}

#input-option286 {
    width: 100%;
    float: left
}

.col-product-right .options .form-group {
    float: left;
    width: 100%
}

.col-product-right .options .form-group .checkbox, .col-product-right .options .form-group .radio {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0
}

.form-group .radio, .PB_options .option .radio {
    margin: 0
}

.col-product-right .options .form-group .option-id-9 .radio, .option-id-9 .radio {
    width: 60px;
    padding-right: 10px;
    float: left
}

.option-id-9 .radio label {
    background: #f5f5f5;
    color: #333;
    border: 1px solid #f5f5f5;
    font-weight: 700;
    font-size: 14px;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 26px;
    line-height: 25px
}

.option-id-9 .radio input {
    visibility: hidden
}

.option-id-9 .radio input[type="radio"]:checked + label {
    border: 1px solid #000
}

.option-id-11, .option-mage {
    float: left;
    width: 100%
}

.col-product-right .options .form-group .option-id-11 .radio, .option-id-11 .radio, .option-mage .radio {
    width: 35px;
    height: 25px;
    padding-right: 10px;
    float: left
}

.option-id-11 .radio input, .option-mage .radio input {
    visibility: hidden
}

.col-product-right .options .form-group .option-id-11 .radio label, .option-id-11 .radio label, .option-mage .radio label {
    width: 25px;
    height: 25px;
    display: block;
    padding: 4px;
    border: 1px solid #ebebeb;
    border-radius: 0
}

.col-product-right .options .form-group .option-id-11 .radio input[type="radio"]:checked + label, .option-mage .radio input[type="radio"]:checked + label {
    border: 1px solid #000
}

.option-id-11 .radio label img, .option-mage .radio label img {
    max-width: 100%;
    height: auto;
    float: left
}

.col-product-right .options .form-group > button {
    width: 50%
}

.col-product-right .options .input-group.datetime input, .col-product-right .options .input-group.date input {
    float: left;
    width: 80%
}

.col-product-right .options .input-group.datetime span, .col-product-right .options .input-group.date span {
    float: left;
    width: 20%
}

.col-option {
    width: 100%;
    float: left
}

.col-product-right .options .control-label {
    float: left;
    padding: 0;
    width: 16.66%
}

.col-product-right .options .control-label, .option .control-label {
    float: left;
    padding: 10px 0 0 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #aac078;
    font-weight: 700
}

.col-product-right .options .control-label + .form-control {
    float: left;
    max-width: 171px;
    width: 64%
}

.col-size-link {
    float: left;
    padding: 10px 20px;
    width: 60%
}

.col-size-link span {
    color: #999;
    font-size: 13px;
    padding: 0 15px;
    text-decoration: underline
}

.col-size-link span:hover {
    text-decoration: none
}

.col-size-link i {
    color: #bdbdbd
}

.col-size-link i:hover {
    color: #000
}

.col-attr {
    float: left;
    width: 100%;
    padding: 10px 0 0 0
}

.attribute-name {
    float: left;
    padding: 0 8px 0 0;
    font-size: 16px;
    text-transform: uppercase;
    color: #aac078;
    font-weight: 700
}

.col-qty {
    float: left;
    padding: 20px 0;
    width: 100%
}

.col-qty label {
    color: #595959;
    display: table-cell;
    float: left;
    font-size: 14px;
    line-height: 3;
    vertical-align: middle;
    width: 16%
}

.qty-input {
    float: left;
    max-width: 171px;
    width: 64%
}

.col-stock {
    color: #6a912e;
    float: left;
    font-size: 10px;
    font-weight: bold;
    padding: 10px 20px;
    width: 20%;
    display: none
}

.col-qty.no-avaible {
    padding: 0 0 15px 0
}

.col-stock.text-red {
    color: #aac078;
    padding: 0
}

.btn-qty {
    background-color: #f5f5f5;
    border: solid 1px #ebebeb;
    float: left;
    font-size: 20px;
    height: 38px;
    line-height: 20px;
    text-align: center;
    width: 38px
}

#product .btn-qty, .modal .btn-qty {
    display: none
}

input.input-qty.form-control[type="text"] {
    background-color: #f5f5f5;
    border: solid 1px #f5f5f5;
    color: #818181;
    float: left;
    font-size: 14px;
    font-style: normal;
    height: 38px;
    margin: 0 3px;
    padding: 5px 5px;
    text-align: center;
    width: 60px
}

.col-price {
    float: left;
    padding: 20px 15px 20px 15px;
    width: 100%
}

.label-text {
    color: #595959;
    display: table-cell;
    float: left;
    font-size: 14px;
    line-height: 3;
    vertical-align: middle;
    width: 16%
}

.col-price-value {
    float: left;
    color: #aac078;
    font-size: 25px;
    font-weight: bold;
    line-height: 42px;
    text-align: left;
    width: 64%
}

.price-old {
    color: #595959;
    font-size: 24px;
    text-decoration: line-through
}

.price-info {
    float: left;
    padding: 30px 0 0 0;
    width: 100%
}

.col-product-bts {
    float: left;
    padding: 20px 0;
    width: 100%
}

.col-product-bt {
    float: left;
    padding: 0;
    width: 170px
}

.col-product-bt + .col-product-bt {
    padding: 0 0 0 29px;
    width: 190px
}

.col-product-bt button {
    float: left;
    line-height: 18px;
    min-height: 45px;
    padding: 8px 20px 6px 20px;
    width: 100%;
    text-transform: uppercase
}

.btn-to-cart {
    font-weight: bold
}

.btn-to-cart i {
    float: left;
    font-size: 18px;
    padding: 0 15px 0 0
}

.btn-to-cart i + span {
    float: left;
    padding: 0
}

.col-product-bt button.btn-one-click {
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    padding-top: 6px
}

.col-product-bt button.btn-one-click span {
    float: none
}

.btn-one-click i {
    float: left;
    font-size: 25px;
    padding: 0 10px 0 0
}

.btn-one-click i + span {
    font-size: 16px;
    line-height: 26px;
    padding: 0
}

.col-product-bt button.btn-to-wishlist {
    width: 45px;
    height: 45px;
    padding: 0;
    text-align: center;
    border: 0
}

.btn-to-wishlist i {
    font-size: 19px;
    padding: 0
}

.col-product-bt button.btn-to-wishlist:hover, .col-product-bt button.btn-to-wishlist.btn-primary.red {
    background: #aac078;
    color: #fff
}

.btn-to-wishlist:hover i, .btn-to-wishlist.red i {
    color: #fff
}

#product .alert-info {
    float: left;
    margin: 15px 0;
    width: 100%
}

#button-review {
    font-size: 18px
}

.col-review-form {
    padding-bottom: 30px
}

.col-review-form .col-rating {
    display: none
}

.table-review td {
    border: 0 !important
}

.table-review {
    margin-bottom: 30px;
    border: 2px solid whitesmoke
}

.review-date {
    color: #e3e3e3
}
.pull-button-send{
    padding: 15px 0 0 0;
}


.col-share {
    float: left;
    width: 100%;
    padding: 0
}

.col-share span {
    color: #292929;
    display: block;
    float: left;
    font-size: 14px;
    font-weight: normal;
    padding: 0 10px 0 0;
    text-align: left;
    height: 20px;
    line-height: 20px
}

.col-share > div {
    float: left
}

.pluso-more.pluso-more.pluso-more {
    display: none
}

.pluso a {
    margin-top: 0 !important
}

.col-tabs {
    padding-top: 30px;
    clear: both
}

.col-tabs .nav-tabs {
    background: #292929;
    margin-bottom: 0;
    border: 0
}

.col-tabs .nav-tabs > li {
    margin-bottom: 0
}

.col-tabs .nav-tabs.nav > li > a {
    position: relative;
    display: block;
    padding: 20px 40px;
    height: 70px;
    font-size: 16px;
    color: #fff;
    background: 0;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    font-weight: bold;

}

.information-information .col-tabs .nav-tabs.nav > li > a {
    font-weight: 700;
    text-transform: inherit
}

.col-tabs .nav-tabs.nav > li > a span {
    border-radius: 50%;
    background: #fff;
    color: #202128;
    margin: 0 5px;
    width: 26px;
    height: 26px;
    line-height: 26px;
    display: inline-block
}

.col-tabs .nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #aac078;
    cursor: default;
    background: 0;
    border: 0;
    border-bottom-color: transparent
}

.col-tabs .nav-tabs > li.active > a:after, .nav-tabs > li.active > a:focus:after, .nav-tabs > li.active > a:hover:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 20px;
    bottom: 0;
    border: 10px solid transparent;
    border-bottom: 10px solid #fff;
    margin: 0 auto
}

.col-tabs .tab-content {
    padding: 25px 0
}

.col-bottom {
    padding: 45px 15px 30px 15px;
    clear: both
}

.bundle-widget.panel {
    border: 0
}

.bundle-widget.panel-default > .panel-heading {
    background: 0;
    padding: 15px 0;
    text-align: left;
    min-height: 50px
}

.bundle-widget.panel-default > .panel-heading .title-h1 {
    margin: 0
}

.bundle-widget.panel-default .panel-body {
    padding: 0
}

@media (min-width: 768px) {
    #column-left .product-layout .col-md-3 {
        width: 100%
    }

    #column-left + #content .product-layout .col-md-3 {
        width: 50%
    }

    #column-left + #content + #column-right .product-layout .col-md-3 {
        width: 100%
    }

    #content + #column-right .product-layout .col-md-3 {
        width: 100%
    }
}

#column-left .product-layout, #column-right .product-layout {
    width: 100%
}

.input-group .form-control[name^=quantity] {
    min-width: 50px
}

.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #df5c39;
    background-image: none
}

.from_top_and_bottom {
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all .35s .1s linear;
    -moz-transition: all .35s .1s linear;
    -webkit-transition: all .35s .1s linear;
    width: 100%
}

.from_top_and_bottom:before {
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0.3) 100%);
    content: '';
    display: block;
    height: 100%;
    left: -85%;
    position: absolute;
    top: 0;
    transform: skewX(-25deg);
    -webkit-transform: skewX(-25deg);
    width: 50%;
    z-index: 2
}

.item:hover .from_top_and_bottom:before, div:hover > .from_top_and_bottom:before, .item:focus .from_top_and_bottom:before, .item:active .from_top_and_bottom:before {
    animation: shine .75s;
    -webkit-animation: shine .75s
}

@-webkit-keyframes shine {
    100% {
        left: 125%
    }
}

@keyframes shine {
    100% {
        left: 125%
    }
}

.error-not_found .breadcrumb {
    border-bottom: 0
}

.col-not-found {
    padding: 100px 15px 50px 15px;
    position: relative;
    text-align: center
}

.col-not-found img {
    margin: 0 auto;
    max-width: 715px;
    opacity: 0
}

.col-not-found .text {
    bottom: 70px;
    left: 0;
    margin: 0 auto;
    padding-left: 15px;
    position: absolute;
    right: 0;
    color: white;
    font-size: 40px;
    font-weight: 700;
    line-height: 35px
}

.col-back-bt {
    padding-bottom: 190px;
    padding-left: 0px;
    text-align: center
}

.col-back-bt a {
    color: #fff !important;
    background: #aac078;
    height: 60px;
    padding: 30px;
    width: 240px;
    font-size: 22px;
    font-weight: 700;
    line-height: 24px
}

.col-back-bt a.link-dashed::before {
    display: none
}

.col-back-bt a:hover {
    opacity: .8
}

.col-back-bt i {
    font-size: 14px;
    padding: 0 15px
}

.row-table-size {
    padding-top: 30px
}

.curier-table-size {
    padding: 10px 0 50px 0
}

.table-size {
    color: #000;
    font-size: 18px;
    line-height: 2.72;
    margin: 0 auto;
    max-width: 700px;
    text-align: center
}

.table-size th {
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px
}

.table-size > thead > tr > td, .table-size > thead > tr > th {
    border-bottom-width: 1px;
    background: #292929;
    color: #fff
}

.tab-content-description {
    color: #282828;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 60px
}

.col-size-image {
    padding: 65px 15px;
    text-align: center
}

.search-page-fields {
    padding-bottom: 15px;
    padding-top: 15px
}

.col-contact-left {
    padding-top: 40px
}

.col-contact-list {
    float: left;
    border: 1px solid #ebebeb;
    min-height: 390px;
    padding: 40px 15px 0 15px
}

.col-contact-list li {
    padding: 0 0 30px 115px;
    position: relative;
    font-size: 16px;
    font-weight: 400;
    line-height: 31px;
    color: #333
}

.col-contact-list li.contact-address-list {
    line-height: 20px
}

.col-contact-list li a {
    color: #333;
    font-size: 16px;
    font-weight: 400
}

.col-contact-list li i {
    position: absolute;
    left: 55px;
    top: 5px;
    font-size: 20px;
    color: #aac078
}

.col-contact-list li.contact-address-list i {
    font-size: 26px
}

.col-contact-list li.contact-skype-list i {
    font-size: 21px
}

.col-contact-list li.contact-email-list i {
    font-size: 14px;
    top: 10px
}

.col-contact-right {
    padding: 40px 15px 0 50px
}

.contact-form-text {
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    padding-bottom: 15px
}

.col-contact-right textarea.form-control {
    min-height: 100px
}

.row-contact-form > div {
    min-height: 90px
}

.row-contact-form .form-group {
    margin: 0 -15px
}

.row-contact-form .form-group label {
    color: #000
}

.row-contact-form .form-group input, .row-contact-form .form-group textarea {
    font-style: normal
}

.row-contact-form .col-contact-bt {
    min-height: inherit;
    padding: 30px 15px 0 15px
}

.row-contact-form .col-contact-bt .buttons {
    margin: 0;
    padding: 0
}

.row-contact-form .col-contact-bt input[type="submit"] {
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    line-height: 1;
    min-height: 41px;
    text-align: center;
    width: 271px
}

.row-contact-form .col-contact-bt input[type="submit"]:hover {
    background: #fff;
    color: #000
}

.curier-contact-map {
    width: 100%;
    background: lightgrey url("../image/ring-alt.svg") center top 40% no-repeat;
    min-height: 340px
}

footer {
    border: 0;
    color: #858585;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 15px 0 15px;
    background-color: #292929;
    min-height: 610px
}

footer .container {
    border-top: 0;
    padding-top: 50px
}

footer .footer-title {
    color: white;
    font-size: 18px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 0 30px 0
}

footer .footer-title2 {
    color: #aac078;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    padding: 0 0 5px 0
}

footer hr {
    border-bottom: 1px solid #666;
    border-top: 0
}

footer a {
    color: #858585;
    text-transform: uppercase;
    transition: all .25s ease-in-out
}

footer a:hover {
    color: #aac078
}

footer ul {
    padding: 0;
    margin: 0 0 0 15px;
    line-height: 30px;
    list-style: none
}

footer li {
    padding-left: 0;
    text-indent: -15px
}

footer li:before {
    content: "• ";
    color: #aac078
}

.col-footer-logo {
    float: left;
    padding: 0;
    width: 370px
}

.logo-footer {
    padding: 0 0 30px 0
}

.col-social-contact-bottom a {
    display: inline-block;
    margin-right: 15px;
    padding: 10px 0;
    text-align: center;
    background: #333;
    width: 45px;
    height: 45px;
    color: #fff;
    font-size: 15px
}

.col-social-contact-bottom a i {
    font-size: 15px
}

.col-social-contact-bottom a:hover i {
    color: #aac078
}

.col-customer-nav {
    float: left;
    padding: 92px 15px 0 15px;
    width: 270px
}

.footer-price-download {
    padding: 30px 0 0 0
}

.footer-price-download a {
    color: #fff
}

.footer-price-download a i {
    color: #aac078;
    font-size: 17px;
    padding: 0 0 0 20px
}

.col-product-nav {
    float: left;
    padding: 92px 15px 0 15px;
    width: 200px
}

.col-contact-bottom {
    float: left;
    font-size: 15px;
    font-weight: bold;
    line-height: 1.73;
    padding: 92px 15px 0 15px;
    width: 300px
}

.adress-item {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 0 20px 0;
    float: left;
    width: 100%
}

.adress-item i {
    color: #aac078;
    padding: 5px 5px 5px 0;
    width: 20px;
    display: block;
    float: left
}

.adress-item span {
    float: left;
    width: 215px
}

.phone-item {
    float: left;
    width: 100%
}

.phone-item a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    float: left;
    width: 100%
}

.phone-item span {
    float: left;
    width: 215px
}

.phone-item i {
    color: #aac078;
    padding: 5px 5px 5px 0;
    width: 20px;
    min-height: 24px;
    display: block;
    float: left
}

.email-item a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0;
    float: left;
    width: 100%
}

.email-item span {
    float: left;
    width: 215px
}

.email-item i {
    color: #aac078;
    padding: 5px 5px 5px 0;
    width: 20px;
    display: block;
    float: left;
    font-size: 12px
}

.newsletter_form-input {
    float: left;
    padding: 0;
    width: 260px
}

.newsletter_form-input input.form-control {
    height: 60px;
    background-color: #3f3f3f;
    border: 0;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    font-style: normal
}

footer .input-group-btn {
    float: left;
    padding: 0 0 0 10px
}

.btn-newsletter.btn-default {
    padding: 0 18px 0 20px;
    width: 60px;
    height: 60px;
    background-color: #aac078;
    text-align: center
}

.input-group-btn button {
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    width: 100%
}

.input-group-btn button span {
    float: left
}

.input-group-btn button i {
    color: #fff;
    text-align: center;
    font-size: 9px;
    line-height: 36px;
    font-size: 16px
}

.input-group-btn button:hover i {
    color: #000
}

.col-subscribe .alert-success {
    background-color: #fff;
    border-color: #d1d1d1;
    border-radius: 0;
    clear: both;
    color: #a3a3a3;
    float: left;
    margin: 5px 0;
    padding: 5px 25px;
    width: 100%
}

.newsletter-form > div {
    padding: 5px 10px;
    clear: both;
    background: 0;
    color: #858585;
    border: 0
}

.newsletter-form > div button {
    display: none
}

.partner-curier {
    float: left;
    width: 100%;
    padding: 55px 0 0 0
}

.partner-curier > span {
    width: 50%;
    height: 30px;
    float: left;
    display: block
}

.nova {
    background: url("../image/logo_nova.png") 0 0 no-repeat
}

.privat {
    background: url("../image/logo_privat.png") 0 0 no-repeat
}

footer .container.container-powered {
    border-top: solid 4px #aac078;
    color: #fffffe;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-top: 20px;
    padding: 25px 0 20px 0
}

.col-powered {
    float: left;
    padding: 0;
    width: 50%
}

.col-created {
    float: left;
    padding: 0 0 0 15px;
    text-align: right;
    width: 50%
}

.col-created a {
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    color: #fff
}

.col-created i {
    padding: 0 8px
}

.btn-callback {
    background: transparent;
    border: 1px solid rgba(161, 185, 106, .32);
    border-radius: 36px;
    bottom: 5%;
    font-size: 31px;
    height: 72px;
    padding: 4px 0;
    position: fixed;
    left: 30px;
    text-align: center;
    width: 72px;
    z-index: 89
}

.btn-callback div, .btn-callback span {
    font-size: 24px;
    padding: 11px 0 0 0
}

.icon-pulse {
    background: #aac078;
    border-radius: 999px;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    bottom: 0;
    box-shadow: 0 0 0 5px rgba(161, 185, 106, 0.47), 0 0 25px 2px rgba(161, 185, 106, 0.4), inset 0 0 0 15px rgba(161, 185, 106, 0.4);
    -moz-box-shadow: 0 0 0 5px rgba(161, 185, 106, .2), 0 0 25px 2px rgba(161, 185, 106, .4), inset 0 0 0 15px rgba(161, 185, 106, .4);: auto;
    height: 50px;
    left: 0;
    margin -webkit-box-shadow: 0 0 0 5px rgba(161, 185, 106, .2), 0 0 25px 2px rgba(161, 185, 106, .4), inset 0 0 0 15px rgba(161, 185, 106, .4);
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 10px;
    width: 50px;
    z-index: 3
}

.pulse1 {
    animation: pulsejg1 4s linear infinite;
    -moz-animation: pulsejg1 4s linear infinite;
    -webkit-animation: pulsejg1 4s linear infinite;
    border: 3px solid rgba(161, 185, 106, .1);
    border-radius: 999px;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    bottom: 0;
    box-shadow: inset 0 0 15px 10px rgba(161, 185, 106, .6);
    -moz-box-shadow: inset 0 0 15px 10px rgba(161, 185, 106, .6);
    -webkit-box-shadow: inset 0 0 15px 10px rgba(161, 185, 106, .6);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 72px;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 72px;
    z-index: 1
}

.pulse2 {
    animation: pulsejg2 4s linear infinite;
    -moz-animation: pulsejg2 4s linear infinite;
    -webkit-animation: pulsejg2 4s linear infinite;
    border: 1px solid rgba(161, 185, 106, 0);
    border-radius: 999px;
    -moz-border-radius: 999px;
    -webkit-border-radius: 999px;
    bottom: 0;
    box-shadow: inset 0 0 12px 5px rgba(161, 185, 106, .8);
    -moz-box-shadow: inset 0 0 12px 5px rgba(161, 185, 106, .8);
    -webkit-box-shadow: inset 0 0 12px 5px rgba(161, 185, 106, .8);
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 72px;
    left: 0;
    margin: auto;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 72px;
    z-index: 2
}

@-webkit-keyframes pulsejg1 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0
    }
    50% {
        -webkit-transform: scale(.6);
        opacity: 0
    }
    60% {
        -webkit-transform: scale(.9);
        opacity: .2
    }
    70% {
        -webkit-transform: scale(1.1);
        opacity: .35
    }
    80% {
        -webkit-transform: scale(1.25);
        opacity: .2
    }
    100% {
        -webkit-transform: scale(1.4);
        opacity: 0
    }
}

@-moz-keyframes pulsejg1 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0
    }
    50% {
        -moz-transform: scale(.6);
        opacity: 0
    }
    60% {
        -moz-transform: scale(.9);
        opacity: .2
    }
    70% {
        -moz-transform: scale(1.1);
        opacity: .35
    }
    80% {
        -moz-transform: scale(1.25);
        opacity: .2
    }
    100% {
        -moz-transform: scale(1.4);
        opacity: 0
    }
}

@keyframes pulsejg1 {
    0% {
        transform: scale(.6);
        opacity: 0
    }
    50% {
        transform: scale(.6);
        opacity: 0
    }
    60% {
        transform: scale(.9);
        opacity: .1
    }
    70% {
        transform: scale(1.1);
        opacity: .25
    }
    80% {
        transform: scale(1.25);
        opacity: .1
    }
    100% {
        transform: scale(1.4);
        opacity: 0
    }
}

@-webkit-keyframes pulsejg2 {
    0% {
        -webkit-transform: scale(.6);
        opacity: 0
    }
    40% {
        -webkit-transform: scale(.8);
        opacity: .05
    }
    50% {
        -webkit-transform: scale(1);
        opacity: .1
    }
    60% {
        -webkit-transform: scale(1.1);
        opacity: .3
    }
    80% {
        -webkit-transform: scale(1.2);
        opacity: .1
    }
    100% {
        -webkit-transform: scale(1.3);
        opacity: 0
    }
}

@-moz-keyframes pulsejg2 {
    0% {
        -moz-transform: scale(.6);
        opacity: 0
    }
    40% {
        -moz-transform: scale(.8);
        opacity: .05
    }
    50% {
        -moz-transform: scale(1);
        opacity: .1
    }
    60% {
        -moz-transform: scale(1.1);
        opacity: .3
    }
    80% {
        -moz-transform: scale(1.2);
        opacity: .1
    }
    100% {
        -moz-transform: scale(1.3);
        opacity: 0
    }
}

@keyframes pulsejg2 {
    0% {
        transform: scale(.6);
        opacity: 0
    }
    40% {
        transform: scale(.8);
        opacity: .05
    }
    50% {
        transform: scale(1);
        opacity: .1
    }
    60% {
        transform: scale(1.1);
        opacity: .3
    }
    80% {
        transform: scale(1.2);
        opacity: .1
    }
    100% {
        transform: scale(1.3);
        opacity: 0
    }
}

.product-box {
    padding: 0 15px
}

.category-page .product-box {
    float: left;
    width: 100%;
    padding: 0
}

.category-page .product-box.product-box-limmit {
    border: 1px solid #ebebeb
}

.product-layout {
    border: 1px solid #ebebeb;
    padding: 15px 40px;
    transition: all .25s ease-in-out;
    margin: -1px -1px 0 0
}

.list-home-category {
    float: left;
    padding: 15px 15px;
    width: 100%
}

.col-home-category {
    float: left;
    padding: 15px 0;
    width: 100%
}

.col-home-category-image {
    float: left;
    min-height: 530px;
    position: relative;
    width: 370px;
    z-index: 9
}

.col-home-category-image .name {
    bottom: 115px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    left: 40px;
    line-height: 40px;
    max-width: 320px;
    padding-right: 40px;
    position: absolute
}

.col-home-category-image > a {
    bottom: 45px;
    left: 40px;
    position: absolute
}

.col-home-category-left .col-home-category-slider {
    float: left;
    width: 66.999%;
    border-right: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb
}

.col-home-category-right .col-home-category-slider {
    float: left;
    width: 66.999%;
    border-left: 1px solid #ebebeb;
    border-top: 1px solid #ebebeb
}

.product-page .product-box-slider {
    margin-bottom: 15px
}

.curier-delivery {
    padding: 28px 0;
    text-align: center;
    margin: 25px 0
}

.delivery-step {
    padding: 0 30px;
    position: relative
}

.curier-delivery .row .col-md-3 + .col-md-3 .delivery-step:before {
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: absolute;
    left: 0;
    top: 48%;
    font-size: 28px;
    content: "\e901";
    color: #cfcfcf
}

.delivery-step i {
    display: block;
    width: 100%;
    min-height: 45px;
    padding: 8px 0;
    font-size: 16px;
    color: #aac078
}

.delivery-step span {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    display: block;
    width: 100%;
    padding: 15px 0
}

.information-information-6 h4 {
    font-size: 16px
}

.delivery-methods-item {
    width: 100%;
    float: left;
    background-color: white;
    border: 1px solid #ebebeb;
    padding: 30px 50px;
    margin: 0 0 10px 0
}

.delivery-methods-item .description {
    padding: 15px 0;
    float: left
}
