@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?hkrfqx');
  src:  url('fonts/icomoon.eot?hkrfqx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?hkrfqx') format('truetype'),
    url('fonts/icomoon.woff?hkrfqx') format('woff'),
    url('fonts/icomoon.svg?hkrfqx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-grid:before {
  content: "\e900";

}
.icon-list2:before {
  content: "\e901";
}
.icon-cheked:before {
  content: "\e902";
}
.icon-arrow-right-light:before {
  content: "\e903";
}
.icon-skype:before {
  content: "\e904";
}
.icon-forma-1:before {
  content: "\e905";
}
.icon-star:before {
  content: "\e906";
}
.icon-arrow-dawn:before {
  content: "\e907";
}
.icon-mail:before {
  content: "\e908";
}
.icon-location:before {
  content: "\e909";
}
.icon-dwnl:before {
  content: "\e90a";
}
.icon-gplus:before {
  content: "\e90b";
}
.icon-yt:before {
  content: "\e90c";
}
.icon-instg:before {
  content: "\e90d";
}
.icon-close:before {
  content: "\e90e";
}
.icon-tw:before {
  content: "\e90f";
}
.icon-fb:before {
  content: "\e910";
}
.icon-arrow-left:before {
  content: "\e911";
}
.icon-arrow-right:before {
  content: "\e912";
}
.icon-rectangle-2-copy-3:before {
  content: "\e913";
}
.icon-cart:before {
  content: "\e914";
}
.icon-account:before {
  content: "\e915";
}
.icon-phone:before {
  content: "\e916";
}
.icon-shape-1:before {
  content: "\e917";
}
.icon-forma-1-copy-5:before {
  content: "\e918";
}
.icon-search:before {
  content: "\e919";
}
.icon-down-arrow-2:before {
  content: "\e91a";
}
.icon-down-arrow-1:before {
  content: "\e91b";
}
.icon-page-1:before {
  content: "\e91c";
}
.icon-combined-shape:before {
  content: "\e91d";
}
.icon-spinner10:before {
  content: "\e983";
}
.icon-spinner11:before {
  content: "\e984";
}
.icon-zoom-in:before {
  content: "\e987";
}
.icon-zoom-out:before {
  content: "\e988";
}
.icon-uniF08B2:before {
  content: "\f08c";
}
.icon-uniF08B3:before {
  content: "\f08d";
}
.icon-uniF08B4:before {
  content: "\f08e";
}
.icon-uniF08B22:before {
  content: "\f08f";
}
.icon-uniF08B222:before {
  content: "\f090";
}
.icon-uniF08B32:before {
  content: "\f091";
}
.icon-uniF08B:before {
  content: "\f08b";
}
